/* ==========================================================================
    HOME PAGE ABOUT-VIDEO
===========================================================================*/
.about-video {
  @include mq('tablet') {
    margin-bottom: 130px;
  }
  @include mq('laptop') {
    margin-bottom: 74px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
    @include mq('tablet') {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 27px;
      padding-right: 27px;
    }
    @include mq('laptop') {
      padding-left: 21px;
      padding-right: 21px;
    }
    @include mq('desktop') {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &-player {
    position: relative;
    display: block;
    height: 174px;
    overflow: hidden;
    @include mq('tablet') {
      width: 60.7%;
      min-height: 248px;
    }
    @include mq('laptop') {
      width: 65.7%;
      min-height: 350px;
    }
    @include mq('desktop') {
      width: 61.3%;
      min-height: 440px;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  &-player__btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 70px;
    height: 71px;
    margin: auto;
    @include font-size(0px);
    border: none;
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015.7%2031.4%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%23fff%22%20d%3D%22M0%2031.4l15.7-15.7L0%200z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: 14px 29px;
    background-position: center;
    background-color: rgba(255,255,255,0.28);
    border-radius: 50%;
    color: $color-white;
    cursor: pointer;
    outline: none;
    z-index: z(button);
    @include mq('tablet') {
      background-size: 21px 43px;
    }
    @include mq('laptop') {
      width: 102px;
      height: 102px;
    }
    @include mq('desktop') {
    }
  }
  &-description {
    margin-top: 0;
    padding: 14px 9px;
    text-align: left;
    border: 4px solid #b8b0ae;
    @include mq('tablet') {
      position: absolute;
      top: 5px;
      right: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 42.8%;
      border: none;
    }
    @include mq('laptop') {
      top: 16px;
      right: 11px;
      width: 40.1%;
    }
    @include mq('desktop') {
      top: 51px;
      right: 45px;
      width: 39.6%;
    }
    p {
      width: 88%;
      margin-top: 6px;
      margin-bottom: 0;
      color: $color;
      font-family: $font-family-ptsans;
      @include font-size($font-size-main);
      font-weight: $font-weight-main;
      line-height: 21px;
      letter-spacing: 0.2px;
      @include mq('tablet') {
        width: 100%;
      }
      @include mq('laptop') {
        width: 90%;
        margin-top: 16px;
      }
      @include mq('desktop') {
        width: 92%;
        margin-top: 24px;
      }
    }
  }
  &-description-body {
    margin-bottom: 4px;
    @include mq('tablet') {
      width: 100%;
      padding: 15px 16px 27px 13px;
      margin-bottom: 23px;
      background-color: $color-white;
      opacity: 0.7;
      border: 6px solid #b8b0ae;
    }
    @include mq('laptop') {
      margin-bottom: 21px;
      padding: 33px 16px 36px 25px;
      background-color: transparent;
      border-color: rgba(184, 176, 174, 0.7);
    }
    @include mq('desktop') {
      margin-bottom: 45px;
      padding: 30px 36px 51px 67px;
      border-width: 10px;
    }
  }
  &-description-body__title {
    color: $color-black;
    font-family: $font-family-title;
    @include font-size(18px);
    font-weight: $font-weight-main;
    letter-spacing: 0.12px;
    @include mq('tablet') {
      @include font-size(22px);
    }
    @include mq('laptop') {
      @include font-size(24px);
    }
  }
  .btn {
    display: block;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 5px;
    margin: auto;
    line-height: 39px;
    padding: 0;
    text-align: center;
    @include mq('tablet') {
      width: 20%;
      min-width: 160px;
      margin: 0;
    }
    @include mq('laptop') {
      width: 57%;
      padding: 0;
    }
    @include mq('desktop') {
      width: 44%;
      margin-right: 60px;
    }
  }
}
/* end  home page about-video  */