.blog {
  background-color: #f5f5f5;
  .container {
    @media #{$tablet-widths} {
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    @media #{$tablet-widths} {
      width: 45%;
    }
  }

  &-item__img {
    img {
      width: 100%;
      height: auto;
    }
  }

  &-item__title {
    padding-bottom: 15px;
    color: #40474e;
    font-family: $font-family-ptsans;
    font-size: 18px;
    font-weight: $font-weight-title;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(41, 49, 57, 0.06);
  }

  &-item__text {
    color: #787b80;
    font-family: $font-family-ptsans;
    font-size: 14px;
    font-weight: $font-weight-main;
    line-height: 24px;
  }

  &-item__button {
    font-size: 14px;
    font-weight: $font-weight-main;
    line-height: 24px;
  }
}