/* ==========================================================================
    HOME PAGE BUY
===========================================================================*/
.buy {
  position: relative;
  margin-top: 50px;
  margin-bottom: 51px;
  background-color: #ebebeb;
  @include mq('tablet') {
    display: flex;
    margin-bottom: 71px;
  }
  @include mq('laptop') {
    margin-top: 70px;
  }
  @include mq('desktop') {
    margin-top: 116px;
  }
  &-wrapper {
    position: absolute;
    top:0;
    width: 100%;
    min-height: 519px;
    z-index: 3;
    background-color: #ebebeb;

    transform: translateX(0);

    transition: transform 0.5s ease-in;
    @include mq('tablet') {
      position: relative;
      width: 50%;
    }
  }
  &-wrapper-hidden {
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    @include mq('tablet') {
      position: relative;
      transform: translateX(0);
    }
  }
  &-wrapper__title {
    display: none;
    color: $color-white;
    font-family: $font-family-yeseone;
    @include font-size(72px);
    font-weight: $font-weight-main;
    letter-spacing: -0.89px;
    @include mq('tablet') {
      display: block;
      letter-spacing: -6.89px;
      line-height: 25px;
    }
    @include mq('laptop') {
      @include font-size(89px);
      line-height: 31px;
    }
    @include mq('desktop') {
      font-size: 8.5vw;
      line-height: 78px;
    }
    @media screen and (min-width: 1800px) {
      @include font-size(155px);
    }
  }
  &-wrapper__close {
    position: absolute;
    top: 14px;
    right: 13px;
    width: 21px;
    height: 21px;
    padding:0;
    background-color: transparent;
    cursor: pointer;
    color: $color-black;
    border: none;
    outline: none;
    @include font-size(0px);
    @include mq('tablet') {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left:0;
      width: 21px;
      height: 1px;
      background-color: currentColor;
      transform: rotate(-45deg);
    }
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left:0;
      width: 21px;
      height: 1px;
      background-color: currentColor;
      transform: rotate(45deg);
    }
  }
  .tabs {
    margin-top: 57px;
    @include mq('tablet') {
      margin-top: 61px;
    }
    @include mq('laptop') {
      margin-top: 75px;
    }
    @include mq('desktop') {
      margin-top: 97px;
    }
    @media screen and (min-width: 1800px) {
      margin-top: 197px;
    }
  }
  .tabs-wrap {
    @include mq('desktop') {
      margin-bottom: 83px;
    }
  }
  .tabs-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    @include mq('tablet') {
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
    }
    @include mq('desktop') {
      width: 76%;
      margin-left: 14%;
    }
  }
  .tab-link {
    position: relative;
    width: 40%;
    opacity: 0.3;
    color: $color-black;
    font-family: $font-family-yeseone;
    @include font-size(20px);
    font-weight: $font-weight-main;
    line-height: 20px;
    letter-spacing: 0.1px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    @include mq('tablet') {
      width: 39%;
      @include font-size(24px);
      line-height: 24px;
      letter-spacing: 0.12px;
    }
    @include mq('laptop') {
      @include font-size(30px);
      line-height: 34px;
      letter-spacing: 0.15px;
    }
    @include mq('desktop') {
      width: 46%;
      @include font-size(30px);
    }
    &:not(:last-child):after {
      @include mq('tablet') {
        content: '';
        position: absolute;
        top: 25px;
        right: -54px;
        width: 78px;
        height: 1px;
        background-color: #b4b4b4;
        transform: rotate(-67deg);
      }
      @include mq('laptop') {
        top: 39px;
        right: -102px;
        width: 116px;
      }
      @include mq('desktop') {
        top: 16px;
        right: -54px;
      }
    }
  }
  .tab-link_active {
    color: #7cca55;
    opacity: 1;
  }
  .tab-content {

  }
  .tab-item {
    display: none;
    ul {
      width: 50%;
      @media screen and (min-width: 480px) {
        width: 48%;
      }
      @include mq('tablet') {
        width: 50%;
      }
      @include mq('laptop') {
        width: 46.7%;
      }
      @include mq('desktop') {
        width: 48%;
      }
    }
    li {
      margin-bottom: 20px;
      @include mq('tablet') {
        margin-bottom: 17px;
      }
      @include mq('laptop') {
        margin-bottom: 30px;
      }
      @include mq('desktop') {
        margin-bottom: 24px;
      }
    }

    input[type=radio] {
      display: none;
    }
    input[type=radio]:checked + .radio-label {
      color: $color-white;
      background-color: #7cca55;
      position: relative;
      span {
        border-bottom: 1px dashed $color-white;
      }
      &:before {
        @include mq('tablet') {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 2px;
          display: block;
          margin: auto;
          width: 18px;
          height: 20px;
          background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2220%22%20viewBox%3D%220%200%2018%2020%22%3E%3Cimage%20width%3D%2218%22%20height%3D%2220%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAYAAACAl21KAAABoElEQVQ4T53UzYvOURjG8c%2FlLUmxQE2UjZeahcLORmws2DCxtLaxkFJD2VKys5CFspEoVpYWhJL8A4iFpAyi5J1bZ%2Fo9mhmeeZ5x16nf4jrfc851X%2Fcv5lBVtQUTSV7M3JZhOVW1BnexFvOS1NS9A0FV1TRjOIevaIDTSc4PBFXVcuzHVuzEetzBPbzBWSxK8r0Hm3ajqlrRiTfgBx7jCZ7jw5QbbMf7JHungapqHi5hHy7iGz7hZx8PG%2FQMRpJMNE2qaime4RWuYuGQDViNPUlGeqCVeI2TmD8kpMna049id5L7kx5V1W18xMM5gJp0AU5MxqEDLcZnHEHr2DD1CwfQrNn4p2tVNY6DuIYm6lft0Nb2w3iLXUmeTgW17waY6dUSrEJL9rou2a2rFzCepFliZo624WYXuAbY3E7s%2FHuAR926leTdrMmuqhaDtqmluj3jGC4naePRt%2F6atarqxaElekeSl8M4%2F8%2BhraobWJakzdlQ1Q%2FU0t0MHUtyfRhS399IVR3q%2FBlN8mUQbDZQLw7Hk5z6b1CX%2BE24kmR0EOg3gJ2FF7P2jzEAAAAASUVORK5CYII%3D%22%2F%3E%3C%2Fsvg%3E');
        }
        @include mq('laptop') {
          left: 6px;
          width: 22px;
          height: 27px;
          background-size: 22px 27px;
        }
        @include mq('desktop') {
          left: 10px;
          width: 30px;
          height: 37px;
          background-size: 30px 37px;
        }
      }
    }
    .radio-label {
      padding: 6px 13px;
      color: $color-black;
      font-family: $font-family-ptsans;
      @include font-size(16px);
      font-weight: $font-weight-main;
      text-align: left;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      span {
        border-bottom: 1px dashed $color-black;
      }
      @include mq('tablet') {
        padding: 8px 24px;
        @include font-size(18px);
      }
      @include mq('laptop') {
        padding: 14px 34px 14px 32px;
        @include font-size(20px);
      }
      @include mq('desktop') {
        @include font-size(24px);
        padding: 12px 52px 12px 52px;
      }
    }
  }
  .tab-item_active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 14px;
    @include mq('tablet') {
      margin-top: 25px;
    }
    @include mq('laptop') {
      margin-top: 54px;
    }
    @include mq('desktop') {
      width: 78%;
      min-width: 625px;
      margin: auto;
    }
  }

  &-map {
    height: 519px;
    @include mq('tablet') {
      width: 50%;
      height: 579px;
    }
    @include mq('laptop') {
      height: 700px;
    }
    @include mq('desktop') {
      height: 902px;
    }
  }
  &__show-btn {
    position: absolute;
    top: 0px;
    right:0;
    width: 52px;
    height: 52px;
    padding:0;
    @include font-size(0px);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #49b14d;
    z-index: 4;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      display: block;
      width: 20px;
      height: 4px;
      margin: auto;
      background-color: $color-white;
      border-radius: 2px;
      box-shadow: 0px -8px 0 0 $color-white,
                  0px 8px 0 0 $color-white;
      transition: all 0.5s ease-in;
    }
    @include mq('tablet') {
      display: none;
    }
  }
  &__show-btn--close {
    transition: all 2s ease-in;
    &:before,
    &:after {
      width: 21px;
      height: 3px;
      background-color: $color-white;
      box-shadow: none;
      transition: all 0.5s ease-in;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
/* end  home page buy  */