/* ==========================================================================
   FEATURES
   ===========================================================================*/
.features {
  background-color: #eeeeef;
  .container {
    @media #{$tablet-widths} {
      display: flex;
    }
  }

  &-item {
    padding: 0 10px;
    text-align: center;
    @media #{$tablet-widths} {
      padding: 0 20px;
    }
  }

  &-item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
  }

  &-item__title {
    margin: 20px auto;
    padding-bottom: 15px;
    color: #40474e;
    font-family: $font-family-ptsans;
    font-size: 16px;
    font-weight: $font-weight-title;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(41, 49, 57, 0.06);
  }

  &-item__text {
    margin: 18px auto;
    color: #787b80;
    font-family: $font-family-ptsans;
    font-size: 14px;
    font-weight: $font-weight-main;
    line-height: 24px;
  }

  .icon {
    fill: #50c3af;
  }

  .icon-profesional {
    width: 43px;
    height: 31px;
  }

  .icon-amateur {
    width: 39px;
    height: 35px;
  }

  .icon-everyone {
    width: 39px;
    height: 42px;
  }
}
/* end features */