/* ==========================================================================
    HOME PAGE INFO
===========================================================================*/
.info {
  @include mq('tablet') {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 46px;
    margin-bottom: 40px;
  }
  @include mq('laptop') {
    margin-top: 50px;
    margin-bottom: 29px;
  }
  @include mq('desktop') {
    margin-top: 98px;
    margin-bottom: 11px;
  }
  &__title {
    display: none;
    @include mq('tablet') {
      position: absolute;
      top: -231px;
      left: 3px;
      display: block;
      color: #ebebeb;
      font-family: $font-family-yeseone;
      @include font-size(270px);
      font-weight: $font-weight-main;
      letter-spacing: -16.61px;
      transform: rotate(-90deg) translateX(-240px) translateY(-148px);
    }
    @include mq('laptop') {
      top: -212px;
      left: 9px;
      @include font-size(290px);
      letter-spacing: -24.61px;
    }
    @include mq('desktop') {
      top: -196px;
      left: -3px;
      @include font-size(278px);
      letter-spacing: -14.61px;
    }
    @media screen and (min-width: 1800px) {
      top: -196px;
      left: -53px;
      @include font-size(440px);
      letter-spacing: -44.61px;
    }
  }
  &-desc {
    margin-bottom: 39px;
    text-align: center;
    @include mq('tablet') {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 33%;
      margin-bottom: 21px;
    }
    @include mq('laptop') {
      width: 25%;
    }
    @include mq('desktop') {
      width: 16.67%;
      margin-right: 3.3%;
    }
  }
  &-desc__btn {
    min-width: 1px;
    padding: 0;
    width: 90%;
    @include mq('tablet') {
      margin: auto;
      width: 67%;
    }
    @include mq('laptop') {

    }
    @include mq('desktop') {
      text-align: center;
      margin-left: 0;
      margin-bottom: 47px;
    }
  }
  &-desc-text {
    margin-bottom: 11px;
    padding: 4px 16px;
    text-align: left;
    @include mq('tablet') {
      max-height: 358px;
      margin-bottom: 50px;
      padding: 0 12px 0 6px;
      overflow: hidden;
    }
    @include mq('laptop') {
      margin-bottom: 82px;
      padding: 0;
      padding-right: 10px;
      letter-spacing: 0.3px;
    }
    @include mq('desktop') {
      max-height: 480px;
      margin-top: 84px;
    }
    p {
      margin: 0;
      color: #505050;
      font-family: $font-family-ptsans;
      @include font-size(14px);
      font-weight: $font-weight-main;
      line-height: 18px;
      @include mq('tablet') {
      }
      @include mq('laptop') {
      }
      @include mq('desktop') {
        width: 93%;
        @include font-size(15px);
        line-height: 20px;
      }
    }
    p:not(:last-child) {
      margin-bottom: 18px;
      @include mq('tablet') {
        margin-bottom: 17px;
      }
      @include mq('desktop') {
        margin-bottom: 24px;
      }
    }
  }
  &-news {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 18px;
    background-color: #f7f7f7;
    text-align: center;
    @include mq('tablet') {
      width: 32.4%;
      margin-bottom: 0;
      padding-bottom: 0;
      text-align: center;
    }
    @include mq('laptop') {
      width: 25%;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
    @include mq('desktop') {
      width: 21.25%;
      min-height: 726px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 36px;
      padding-bottom: 30px;
      text-align: left;
    }
  }
  &-news__title {
    padding: 17px 14px;
    color: $color-black;
    font-family: $font-family-yeseone;
    @include font-size(18px);
    font-weight: $font-weight-main;
    line-height: 21px;
    text-align: left;
    letter-spacing: .23px;
    @include mq('tablet') {
      margin-bottom: 21px;
      padding: 15px 24px 14px 11px;
      @include font-size(22px);
      line-height: 22px;
      letter-spacing: 0.11px;
    }
    @include mq('laptop') {
      width: 88%;
      margin-bottom: 52px;
      @include font-size(20px);
      line-height: 22px;
      letter-spacing: 0.1px;
    }
    @include mq('desktop') {
      width: 93%;
      margin-bottom: 48px;
      padding: 7px 35px;
      @include font-size(24px);
      line-height: 29px;
    }
  }
  &-news__btn {
    width: 90%;
    margin: 3px auto;
    padding: 0px;
    @include mq('tablet') {
      width: 68%;
      min-width: 0;
      margin: 1px auto;
    }
    @include mq('laptop') {

    }
    @include mq('desktop') {
      width: 53%;
      margin-left: 31px;
    }
  }
  &-news-img {
    width: 100%;
    height: 190px;
    overflow: hidden;
    @include mq('tablet') {
      height: 198px;
      margin-bottom: 73px;
    }
    @include mq('laptop') {

    }
    @include mq('desktop') {
      height: 349px;
      margin-bottom: 35%;
    }
    img {
      width: 100%;
      @include mq('desktop') {
        width: auto;
        max-width: none;
        height: 100%;
      }
    }
  }
  &-news-data {
    position: absolute;
    top: 104px;
    left: 15px;
    display: block;
    width: 72px;
    height: 72px;
    padding: 11px 0;
    color: $color-black;
    font-family: $font-family-yeseone;
    font-size: $font-size-main;
    font-weight: $font-weight-main;
    letter-spacing: 0.17px;
    text-align: center;
    border: 4px solid #b8b0ae;
    background-color: rgba(247, 247, 247, 0.78);
    @include mq('tablet') {
      top: 167px;
      left: 10px;
      width: 99px;
      height: 98px;
      padding: 0;
      border-width: 6px;
      @include font-size(17px);
      text-align: center;
    }
    @include mq('laptop') {
      left: 11px;
      border-width: 8px;
      @include font-size(17px);
      letter-spacing: 0.15px;
    }
    @include mq('desktop') {
      top: 331px;
      left: 33px;
      width: 122px;
      height: 118px;
      @include font-size(17px);
      letter-spacing: 0.15px;
      border-width: 10px;
    }
  }
  &-news-data__day {
    display: block;
    margin-bottom: -6px;
    color: $color-black;
    font-family: $font-family-yeseone;
    font-weight: $font-weight-main;
    @include font-size(34px);
    line-height: 1;
    letter-spacing: 0.41px;
    @include mq('tablet') {
      margin-bottom: -17px;
      @include font-size(46px);
      line-height: 69px;
      letter-spacing: 0.4px;
    }
    @include mq('laptop') {
      @include font-size(46px);
      line-height: 65px;
      letter-spacing: 0.4px;
    }
    @include mq('desktop') {
      margin-bottom: -25px;
      @include font-size(46px);
      line-height: 87px;
      letter-spacing: 0.4px;
    }
  }
}

.facts-tech {
  @include mq('tablet') {
    width: 32%;
  }
  @include mq('laptop') {
    width: 25%;
  }
  @include mq('desktop') {
    width: 38.4%;
  }
  .facts {
    position: relative;
    background-color: #f7f7f7;
    @include mq('tablet') {
      margin-bottom: 0;
    }
    @include mq('desktop') {
      width: 408px;
      padding-bottom: 32px;
    }
    .slick-dots {
      bottom: 8px;
      @include mq('tablet') {
        bottom: 11px;
      }
      @include mq('laptop') {
        bottom: 12px;
      }
      @include mq('desktop') {
        bottom: 20px;
      }
      li,
      button {
        width: 8px;
        height: 8px;
      }
      li button:before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: #d6d6d6;
        border-radius: 50%;
        opacity: 1;
      }
      .slick-active button:before {
        background-color: #7cca55;
      }
    }
  }
  .facts-wrapper {
    max-height: 249px;
    overflow: hidden;
    @media screen and (min-width: 480px) {
      max-height: 217px;
    }
    @media screen and (min-width: 620px) {
      max-height: 201px;
    }
    @include mq('tablet') {
      max-height: 236px;
      margin-bottom: 0px !important;
      padding-bottom: 30px;
    }
    @include mq('laptop') {
      max-height: 261px;
    }
    @include mq('desktop') {
      max-height: 342px;
    }
  }
  .facts-count {
    display: none;
    @include mq('laptop') {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: auto;
      margin: 0;
      padding: 2px 8px;
      background-color: $color-white;
      color: $color-brown-light;
      font-family: $font-family-ptsans;
      @include font-size(14px);
      font-weight: $font-weight-main;
      letter-spacing: 4px;
    }
    @include mq('desktop') {
      height: 33px;
      padding: 0 32px;
      padding-top: 8px;
      letter-spacing: 3px;
    }
    b {
      color: $color-black;
      font-weight: $font-weight-title;
    }
  }
  .facts-item {
    position: relative;
    p {
      margin: 0;
      padding: 6px 14px;
      padding-bottom: 44px;
      color: #505050;
      font-family: $font-family-ptsans;
      @include font-size(14px);
      font-weight: $font-weight-main;
      line-height: 16.9px;
      letter-spacing: 0.1px;
      text-align: center;
      @include mq('tablet') {
        padding: 9px 14px;
        line-height: 14px;
        @include font-size(12px);
        letter-spacing: 0.3px;
      }
      @include mq('laptop') {
        height: 114px;
        margin-bottom: 0;
        padding-bottom: 0;
        @include font-size(14px);
        line-height: 15px;
        overflow: hidden;
      }
      @include mq('desktop') {

      }
    }
  }
  .facts-item-val {
    text-align: center;
    @include mq('laptop') {
      padding-bottom: 2px;
    }
    @include mq('desktop') {
      padding-bottom: 22px;
    }
  }
  .facts-item-val__count {
    display: block;
    padding-top: 24px;
    color: $color-brown-light;
    font-family: $font-family-yeseone;
    @include font-size(60px);
    font-weight: $font-weight-main;
    line-height: 54px;
    letter-spacing: -2.8px;
    @include mq('tablet') {
      padding-top: 8px;
      @include font-size(50px);
      letter-spacing: -3.67px;
    }
    @include mq('laptop') {
      padding-top: 15px;
      @include font-size(70px);
      line-height: 80px;
      letter-spacing: -3.93px;
    }
    @include mq('desktop') {
      padding-top: 49px;
      @include font-size(96px);
      letter-spacing: -5.28px;
      line-height: 96px;
    }
  }
  .facts-item-val__unit {
    display: block;
    color: $color-brown-light;
    font-family: $font-family-yeseone;
    @include font-size(16px);
    font-weight: $font-weight-main;
    letter-spacing: -0.25px;
    @include mq('tablet') {
      line-height: 14px;
    }
    @include mq('laptop') {
      @include font-size(16px);
      letter-spacing: -0.25px;
    }
    @include mq('desktop') {
      padding-top: 11px;
      @include font-size(22px);
      letter-spacing: -0.34px;
    }
  }
  .tech {
    display: none;
    @include mq('tablet') {
      display: block;
      padding: 40px 17px 20px 17px;
      background-image: url(../images/tech.jpg);
      background-position: right top;
      text-align: center;
    }
    @include mq('laptop') {
      padding: 14px 18px 22px 21px;
      background-position: left top;
      min-height: 240px;
    }
    @include mq('desktop') {
      padding: 45px 30px;
      padding-bottom: 34px;
      text-align: left;
    }
    p {
      @include mq('tablet') {
        display: none;
      }
      @include mq('laptop') {
        display: block;
        margin: 0;
        margin-bottom: 11px;
        color: $color-white;
        font-family: $font-family-ptsans;
        @include font-size(14px);
        font-weight: $font-weight-main;
        line-height: 16px;
        text-align: left;
      }
      @include mq('desktop') {
        width: 250px;
        margin-bottom: 65px;
      }
    }
  }
  .tech__title {
    margin-bottom: 83px;
    color: $color-white;
    font-family: $font-family-yeseone;
    @include font-size(22px);
    line-height: 26px;
    font-weight: $font-weight-main;
    letter-spacing: 0.11px;
    text-align: left;
    @include mq('laptop') {
      margin-bottom: 10px;
      @include font-size(20px);
      line-height: 24px;
      letter-spacing: 0.1px;
    }
    @include mq('desktop') {
      width: 230px;
      margin-bottom: 31px;
      @include font-size(24px);
      line-height: 27px;
      letter-spacing: 0.12px;
    }
  }
  .tech__btn {
    width: 81%;
    min-width: 1px;
    padding: 0;
    color: $color-white;
    border-color: $color-white;
    @include mq('desktop') {
      width: 215px;
    }
  }
}
/* end  home page info  */