/* ==========================================================================
    HOME PAGE PORTFOLIO
===========================================================================*/
.portfolio--home {
  position: relative;
  margin-top: 48px;
  margin-bottom: 22px;
  text-align: center;
  @include mq('tablet') {
    text-align: right;
  }
  @include mq('laptop') {
    width: 73.2%;
    float: left;
    margin-top: 17px;
  }
  @include mq('desktop') {
    width: 78%;
    margin-top: 7px;
  }
  .portfolio__title {
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 3;
    font-size: 16vw;
    line-height: 1;
    color: $color-white;
    @include mq('tablet') {
      top: -43px;
      font-size: 17vw;
    }
    @include mq('laptop') {
      top: -42px;
      left: -13px;
      font-size: 13vw;
    }
    @include mq('desktop') {
      top: -55px;
      font-size: 13vw;
    }
    @media screen and (min-width: 1800px) {
      top: -81px;
      @include font-size(245px);
    }
  }
  .portfolio-for {
    max-height: 165px;
    overflow: hidden;
    margin-bottom: 15px;
    @media screen and (min-width: 480px) {
      max-height: 245px;
    }
    @media screen and (min-width: 620px) {
      max-height: 314px;
    }
    @include mq('tablet') {
      max-height: 392px;
    }
    @include mq('laptop') {
      max-height: 486px;
    }
    @include mq('desktop') {
      max-height: 734px;
    }
    .slick-slide {

    }
  }
  .portfolio-for-item {
    position: relative;
    @include mq('tablet') {
      max-height: 392px;
    }
    @include mq('laptop') {
      max-height: 100%;
    }
  }
  .portfolio-for-desc {
    position: absolute;
    bottom: 19%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    @include mq('tablet') {
      bottom: 0;
      width: 100%;
    }
  }
  .portfolio-desc__title {
    position: relative;
    left: -2%;
    width: 73%;
    margin: auto;
    color: $color-white;
    font-family: $font-family-yeseone;
    font-size: 10vw;
    font-weight: $font-weight-main;
    letter-spacing: 0.16px;
    line-height: 100%;
    overflow: hidden;
    @include mq('tablet') {
      top: 24px;
      left: -12.3%;
      width: 60.5%;
      max-height: 150px;
      padding-top: 17px;
      padding-bottom: 39px;
      padding-left: 26px;
      padding-right: 23px;
      @include font-size(36px);
      border: 6px solid rgba(255,255,255, 0.74);
    }
    @include mq('laptop') {
      top: 29px;
      left: -12.2%;
      width: 56.5%;
      max-height: 140px;
      padding: 17px 22px;
      padding-bottom: 34px;
      border-width: 8px;
    }
    @include mq('desktop') {
      top: 21px;
      left: -7.3%;
      width: 41.5%;
      max-height: 250px;
      padding: 34px 36px;
      padding-bottom: 48px;
      border-width: 10px;
      @include font-size(48px);
    }
  }
  .portfolio-desc__text {
    display: none;
    @include mq('tablet') {
      display: block;
      color: #230a03;
      font-family: $font-family-ptsans;
      font-size: $font-size-main;
      font-weight: $font-weight-main;
      line-height: 17px;
      background-color: rgba(255,255,255,0.7);
    }
    p {
      font-family: $font-family-ptsans;
      margin: 0;
      @include mq('tablet') {
        position: relative;
        left: 3.4%;
        width: 80.6%;
        max-height: 160px;
        margin: auto;
        padding-top: 36px;
        padding-bottom: 19px;
        line-height: 18px;
        overflow: hidden;
      }
      @include mq('laptop') {
        left: 6.1%;
        width: 78.9%;
        max-height: 270px;
        padding-top: 39px;
        padding-bottom: 34px;
        line-height: 18px;
      }
      @include mq('desktop') {
        left: -0.9%;
        width: 48.73%;
        max-height: 320px;
        padding-top: 54px;
        padding-bottom: 53px;
        line-height: 19px;
      }
    }
    b {
      font-family: $font-family-ptsans;
      padding: 2px;
      color: $color-white;
      font-size: $font-size-main;
      background-color: #7cca55;
      @include mq('laptop') {
        display: inline-block;
        width: 189px;
        margin-bottom: 0;
        line-height: 12px;
      }
      @include mq('desktop') {
        width: 187px;
        letter-spacing: 0;
      }
    }
  }
  .portfolio-nav {
    display: none;
    @include mq('tablet') {
      position: absolute;
      bottom: -7px;
      left: 98px;
      display: block;
      width: 450px;
      max-height: 80px;
      padding: 0 40px;
      overflow: hidden;
    }
    @include mq('laptop') {
      bottom: -4px;
      left: 112px;
      padding: 0 20px;
    }
    @include mq('desktop') {
      bottom: -36px;
      left: auto;
      right: 270px;
      width: 710px;
      max-height: 157px;
      padding: 0 40px;
    }
    @media screen and (min-width: 1800px) {
      bottom: -46px;
    }
    .slick-slide {
      height: 81px;
      margin: 0 5px;
      @include mq('laptop') {
        margin: 0 15px;
      }
      @include mq('desktop') {
        height: 157px;
        margin: 0 4.5px;
      }
    }
    .slick-track {
      height: 100px;
      @include mq('desktop') {
        height: 157px;
      }
    }
    .slick-list {
      height: 80px;
      padding: 0 !important;
      margin: 0;
      overflow: hidden;
      @include mq('desktop') {
        height: 157px;
      }
    }
    .slick-arrow {
      top: 83%;
      width: 19px;
      height: 31px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2229%22%20viewBox%3D%220%200%2018%2029%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M289.76%201807.02l2.47-2.54%2012.77%2012.77-.35.36.25.26-12.77%2012.76-2.44-2.5%2010.58-10.6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23c1c1c7%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-288%20-1803)%22%2F%3E%3C%2Fsvg%3E');
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
      @include mq('laptop') {
        top: 77%;
      }
      @include mq('desktop') {
        top: 68%;
      }
    }
    .slick-prev {
      top: 62%;
      left: 0;
      @include mq('laptop') {
        top: 58%;
      }
      @include mq('desktop') {
        top: 58%;
      }
      transform: rotate(180deg);
    }
    .slick-next {
      right: 0;
    }
    .slick-current .portfolio-nav-item {
      border-color: #7cca55;
    }
  }
  .portfolio__btn {
    min-width: 272px;
    @include mq('tablet') {
      min-width: 153px;
      padding: 0;
      margin-right: 11px;
    }
    @include mq('laptop') {
      min-width: 131px;
      margin-right: 0;
    }
    @include mq('desktop') {
      min-width: 214px;
      margin-top: 42px;
    }
  }
}
.portfolio-for-img {
  img {
    @include mq('laptop') {
      min-height: 480px;
    }
    @include mq('desktop') {
      min-height: 728px;
      width: 100%;
    }
  }
}
.portfolio-nav-item {
  height: 79px;
  border: 5px solid white;
  overflow: hidden;
  @include mq('laptop') {
    height: 77px;
  }
  @include mq('desktop') {
    height: 120px;
  }
  img {
    @include mq('tablet') {
      width: 100%;
      height: auto;
    }
  }
}

/* end  home page portfolio  */