.support {
  background-color: #eeeeef;
  .container {

  }

  &__title {
    position: relative;
    padding-left: 30px;
    color: #384048;
    font-family: $font-family-ptsans;
    font-size: 18px;
    font-weight: $font-weight-title;
    line-height: 24px;
    text-transform: uppercase;

    border-bottom: 2px solid rgba(41, 49, 57, 0.06);
  }

  &__title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 23px;
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &__text {
    color: #787b80;
    font-family: $font-family-ptsans;
    font-size: 14px;
    font-weight: $font-weight-main;
    line-height: 24px;
  }

  &__button {
    font-size: 14px;
    line-height: 24px;
    background-color: #d2d5da;
  }

  &__button:hover {
    background-color: darken(#d2d5da, 15%);
  }
  &__button:active {
    background-color: darken(#d2d5da, 30%);
  }
}