/* ==========================================================================
    PORFOLIO-PROJECT PAGE LIKE-PROJECT
===========================================================================*/
.like-project {
  margin-top: 32px;
  margin-bottom: 49px;
  padding: 0 17px;
  @include mq('tablet') {
    margin-top: 42px;
    padding: 0 10px;
  }
  @include mq('laptop') {
    margin-top: 54px;
    margin-bottom: 23px;
  }
  @include mq('desktop') {
    max-width: 1280px;
    margin-top: 72px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    padding: 27px 17px;
    border: 4px solid $color-brown-light;
    @include mq('tablet') {
      flex-direction: row;
      width: 95.4%;
      margin: auto;
      padding: 36px 55px;
      padding-bottom: 35px;
      border: 6px solid $color-brown-light;
    }
    @include mq('laptop') {
      width: 98%;
      padding: 32px 72px;
      padding-bottom: 28px;
      border: 8px solid $color-brown-light;
    }
    @include mq('desktop') {
      width: 100%;
      padding: 31px 96px;
      padding-bottom: 39px;
      border: 10px solid $color-brown-light;
    }
  }

  &__title {
    color: $color-black;
    font-family: $font-family-title;
    @include font-size(18px);
    font-weight: $font-weight-main;
    line-height: 22px;
    letter-spacing: 0.09px;
    @include mq('tablet') {
      width: 33%;
      margin-top: 8px;
      @include font-size(22px);
      letter-spacing: 0.11px;
    }
    @include mq('laptop') {
      width: 26%;
      @include font-size(24px);
      line-height: 29px;
    }
    @include mq('desktop') {
      width: 25%;
      letter-spacing: 0.12px;
    }
  }

  &__text {
    display: none;
    @include mq('tablet') {
      display: block;
      width: 38%;
      height: 40px;
      margin: auto;
      margin-top: 7px;
      padding-bottom: 8px;
      color: #505050;
      font-family: $font-family-ptsans;
      @include font-size(14px);
      font-weight: $font-weight-main;
      line-height: 18px;
    }
    @include mq('laptop') {
      width: 36.5%;
      height: auto;
      margin-top: 11px;
      @include font-size(16px);
      line-height: 23px;
    }
    @include mq('desktop') {
      width: 33%;
      height: auto;
      margin-top: 6px;
      margin-left: 54px;
      padding-left: 8px;
    }
  }

  &__btn {
    margin-top: 18px;
    padding: 0;
    @include mq('tablet') {
      min-width: 124px;
      margin-top: 26px;
      font-size: 14px;
    }
    @include mq('laptop') {
      min-width: 210px;
      margin-top: 45px;
    }
    @include mq('desktop') {
      width: 28.6%;
      margin-top: 37px;
    }
  }
}
/* end porfolio-project page like-project */