/* ==========================================================================
   BREADCRUMBS
   ===========================================================================*/
.breadcrumbs{
	position: relative;
	width: 100%;
	padding: 0;
	list-style: none;
	@extend %clearfix;
	display: none;
	@include mq('tablet') {
		display: block;
	}
	li{
		display: inline-block;
		list-style: none;
		color: $color-gray-darken;
		&:not(:last-child){
			&:after{
				content: '/';
				display: inline-block;
				color: $color-main;
			}
		}
		a{
			color: $color-main;
			&:hover{
				color: darken($color-main, 20%);
				text-decoration: underline;
			}
		}
	}
}
/* end breadcrumbs */