/* ==========================================================================
   DESIGN-DISCOUNT
   ===========================================================================*/
.design-discount {
  margin-top: 51px;
  margin-bottom: 27px;
  @include mq('tablet') {
    margin-bottom: 46px;
  }
  @include mq('laptop') {
    margin-top: 0;
    margin-bottom: 21px;
  }
  @include mq('desktop') {
    clear: both;
    margin-bottom: 115px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    @include mq('tablet') {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 27px;
      padding-right: 27px;
    }
    @include mq('laptop') {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mq('desktop') {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .discount,
  .design {
    background-repeat: no-repeat;
    background-size: cover;
    @include mq('tablet') {
      width: 48%;
      margin-bottom: 0;
    }
    @include mq('desktop') {
      width: 49%;
      height: 391px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .design {
    margin-bottom: 19px;
  }
}
/* end design-discount */