/* ==========================================================================
   FEATURES
   ===========================================================================*/
.features {
  max-height: 172px;
  padding-bottom: 12px;
  overflow: hidden;
  clear: both;
  @media screen and (min-width: 480px) {
    max-height: 140px;
  }
  @include mq('tablet') {
    display: flex;
    max-height: 100%;
  }
  .slick-list {
    @include mq('tablet') {
      width: 93%;
      margin: auto;
    }
    @include mq('laptop') {
      width: 96%;
    }
    @include mq('desktop') {
      width: 1240px;
    }
  }
  &-item {
    display: block;
    outline: none;
    text-align: center;
    @include mq('tablet') {
      text-align: left;
    }
    @include mq('laptop') {
      display: flex !important;
      flex-direction: row;
    }
  }
  .icon {
    margin: auto;
    @include mq('tablet') {
      position: relative;
    }
  }
  &__text {
    width: 91%;
    margin: auto;
    margin-top: 12px;
    color: #d1a896;
    font-family: $font-family-ptsans;
    @include font-size(18px);
    font-weight: $font-weight-title;
    line-height: 20px;
    text-align: center;
    @include mq('tablet') {
      margin-top: 4px;
      margin-left: 0;
      text-align: left;
    }
    @include mq('laptop') {
      margin-top: 0;
      padding-left: 20px;
    }
    @include mq('desktop') {
      width: 47%;
      padding-left: 11px;
    }
  }
  &-item:hover {
    .features__text {
      color: $color-main-154;
      text-decoration: underline;
    }
    .icon-delivery {
      background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-49%20227.9%20512%20338.3%22%3E%3Cstyle%3E.st0%7Bopacity%3A.37%7D.st0%2C.st1%7Bfill%3A%239abe2c%7D%3C%2Fstyle%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%2257.1%22%20cy%3D%22505.5%22%20r%3D%2248.2%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M448.8%20482.7h-59.7c-8.7-24.1-31.7-41.3-58.7-41.3-27%200-50%2017.3-58.7%2041.3H163.6v-83.8c0-7.8-6.3-14.2-14.2-14.2s-14.2%206.3-14.2%2014.2v83.8h-19.4c-8.7-24.1-31.7-41.3-58.7-41.3-27%200-50%2017.3-58.7%2041.3h-9.5c-5.3%200-9.6-4.3-9.6-9.6v-61.7c0-2.5%201-4.9%202.7-6.7L16.3%20385c.4-.2.8-.5%201.2-.8h52.1c7.8%200%2014.2-6.3%2014.2-14.2%200-7.8-6.3-14.2-14.2-14.2H30.8l25.8-67.9c8.8-19.3%2028.1-31.8%2049.2-31.9l29.4.1v52c0%207.8%206.3%2014.2%2014.2%2014.2s14.2-6.3%2014.2-14.2V242c0-7.8-6.3-14.1-14.1-14.2l-43.6-.1c-32.5.1-62%2019.3-75.3%2049-.1.2-.2.5-.3.7L-2.1%20363l-31.3%2018c-.7.4-1.4.9-2.1%201.4-8.6%207.2-13.5%2017.8-13.5%2029v61.7C-49%20494-32%20511-11.1%20511h6.3c3.6%2031%2030%2055.1%2061.9%2055.1S115.4%20542%20119%20511h149.5c3.6%2031%2030%2055.1%2061.9%2055.1%207.8%200%2014.2-6.3%2014.2-14.2%200-7.8-6.3-14.2-14.2-14.2-18.8%200-34-15.3-34-34%200-18.8%2015.3-34%2034-34s34%2015.3%2034%2034c0%207.8%206.3%2014.2%2014.2%2014.2%205.2%200%209.7-2.8%2012.1-6.9h58.1c7.8%200%2014.2-6.3%2014.2-14.2%200-7.7-6.3-14.1-14.2-14.1zM57.1%20537.8c-18.8%200-34-15.3-34-34%200-18.8%2015.3-34%2034-34s34%2015.3%2034%2034-15.2%2034-34%2034z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M371.5%20244.1v88.6l-38.2-20.8-38.3%2020.8v-88.6h-77.3v156.5h231.1V244.1z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M448.8%20413H217.7c-7.8%200-14.2-6.3-14.2-14.2V242.4c0-7.8%206.3-14.2%2014.2-14.2H295c7.8%200%2014.2%206.3%2014.2%2014.2v64.8l17.3-9.4c4.2-2.3%209.3-2.3%2013.5%200l17.3%209.4v-64.8c0-7.8%206.3-14.2%2014.2-14.2h77.3c7.8%200%2014.2%206.3%2014.2%2014.2v156.5c0%207.8-6.3%2014.1-14.2%2014.1zm-216.9-28.3h202.8V256.5h-49v74.4c0%205-2.6%209.6-6.9%2012.2-4.3%202.6-9.6%202.7-14%20.3l-31.5-17.1-31.5%2017.1c-4.4%202.4-9.7%202.3-14-.3-4.3-2.6-6.9-7.2-6.9-12.2v-74.4h-49v128.2z%22%2F%3E%3C%2Fsvg%3E');
    }
    .icon-call {
      background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20409.6%20409.6%22%3E%3Cstyle%3E.st0%2C.st1%7Bfill%3A%239abe2c%7D.st1%7Bopacity%3A.5%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M277.9%20409.6H65.6c-6.7%200-12.1-5.4-12.1-12.1s5.4-12.1%2012.1-12.1h212.3c6.7%200%2012.1%205.4%2012.1%2012.1s-5.4%2012.1-12.1%2012.1zm0%200%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M374.4%20409.6h-25.3c-6.7%200-12.1-5.4-12.1-12.1s5.4-12.1%2012.1-12.1h25.3c6.1%200%2011.1-5%2011.1-11.1V367c0-6.1-5-11.1-11.1-11.1H65.6c-6.7%200-12.1-5.4-12.1-12.1%200-6.7%205.4-12.1%2012.1-12.1h308.7c19.4%200%2035.2%2015.8%2035.2%2035.2v7.3c.1%2019.6-15.7%2035.4-35.1%2035.4zm0%200%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M65.6%20407c-6.7%200-12.1-5.4-12.1-12.1V35.2c0-6.1-5-11.1-11.1-11.1h-7.3c-6.1%200-11.1%205-11.1%2011.1v298.2c0%206.7-5.4%2012.1-12.1%2012.1S0%20340%200%20333.4V35.2C0%2015.8%2015.8%200%2035.2%200h7.3c19.4%200%2035.2%2015.8%2035.2%2035.2v359.7c0%206.7-5.4%2012.1-12.1%2012.1zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M189.1%20121.2l28.3%2028.3L65.8%20301l-.2%2043H116l148-148%2028.3%2028.3c1.9%201.9%205.1.8%205.4-1.8l16-119.2c.3-2.1-1.5-3.9-3.6-3.6l-119.2%2016c-2.6.4-3.6%203.6-1.8%205.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M116%20356.2H65.6c-3.2%200-6.3-1.3-8.6-3.6s-3.5-5.4-3.5-8.6l.2-43c0-3.2%201.3-6.2%203.5-8.5l143.1-143.1-19.7-19.7c-4.1-4.1-5.5-10.1-3.7-15.7%201.9-5.5%206.6-9.5%2012.4-10.2l119.2-16c5.1-.7%2010.2%201.3%2013.5%205.1%202.9%203.3%204.2%207.7%203.6%2012.1l-16%20119.2c-1%207.6-7.5%2013.2-15.2%2013.2-4.1%200-7.9-1.6-10.8-4.5L264%20213.1%20124.6%20352.6c-2.3%202.3-5.4%203.6-8.6%203.6zM77.8%20332H111l144.5-144.5c2.3-2.3%205.3-3.5%208.5-3.5s6.3%201.3%208.5%203.5l15.6%2015.6%2012.1-89.9-89.9%2012.1%2015.6%2015.6c4.7%204.7%204.7%2012.4%200%2017.1L77.8%20306.1V332zm0%200M163.5%2087.7H68.1c-6.7%200-12.1-5.4-12.1-12.1s5.4-12.1%2012.1-12.1h95.4c6.7%200%2012.1%205.4%2012.1%2012.1s-5.5%2012.1-12.1%2012.1zm0%200M335.2%20353.7c-6.7%200-12.1-5.4-12.1-12.1v-88.1c0-6.7%205.4-12.1%2012.1-12.1%206.7%200%2012.1%205.4%2012.1%2012.1v88.1c0%206.7-5.4%2012.1-12.1%2012.1zm0%200%22%2F%3E%3C%2Fsvg%3E');
    }
    .icon-garanty {
      background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%2238%20141%20338%20512%22%3E%3Cstyle%3E.st0%7Bopacity%3A.5%7D.st0%2C.st1%7Bfill%3A%239abe2c%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M207%20155.3c-85.4%200-154.7%2069.3-154.7%20154.7S121.6%20464.7%20207%20464.7%20361.7%20395.4%20361.7%20310%20292.4%20155.3%20207%20155.3zm42.1%20219.5L207%20352.6l-42.1%2022.1%208-46.9-34.1-33.2%2047.1-6.8%2021-42.6%2021%2042.6%2047.1%206.8-34.1%2033.2%208.2%2047z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M338.3%20456.4c-7.9%200-14.3%206.4-14.3%2014.3v93.9l-43.3-29.2c-4.8-3.3-11.2-3.3-16%200l-43.3%2029.2v-53.3c0-7.9-6.4-14.3-14.3-14.3s-14.3%206.4-14.3%2014.3v100.5l-43.3-29.2c-4.8-3.3-11.2-3.3-16%200l-43.3%2029.2V431.9C120.4%20461.1%20161.7%20479%20207%20479c93.2%200%20169-75.8%20169-169s-75.8-169-169-169S38%20216.8%2038%20310c0%2031.3%208.6%2060.6%2023.4%2085.7v242.9c0%205.3%202.9%2010.2%207.6%2012.6%204.7%202.5%2010.3%202.2%2014.7-.8l57.6-38.8%2057.6%2038.8c2.4%201.6%205.2%202.4%208%202.4%202.3%200%204.6-.6%206.7-1.7%204.7-2.5%207.6-7.3%207.6-12.6V599l51.3-34.5%2057.6%2038.8c2.4%201.6%205.2%202.4%208%202.4%202.3%200%204.6-.6%206.7-1.7%204.7-2.5%207.6-7.3%207.6-12.6V470.7c.2-7.9-6.2-14.3-14.1-14.3zM207%20169.6c77.4%200%20140.4%2063%20140.4%20140.4s-63%20140.4-140.4%20140.4S66.6%20387.4%2066.6%20310s63-140.4%20140.4-140.4z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M157.6%20332.9l-6.8%2039.4c-.9%205.4%201.3%2010.8%205.7%2014%204.4%203.2%2010.3%203.6%2015.1%201.1l35.4-18.6%2035.4%2018.6c2.1%201.1%204.4%201.6%206.7%201.6%203%200%205.9-.9%208.4-2.7%204.4-3.2%206.6-8.6%205.7-14l-6.8-39.4%2028.7-27.9c3.9-3.8%205.3-9.5%203.6-14.7-1.7-5.2-6.2-9-11.6-9.7l-39.6-5.8-17.7-35.9c-2.4-4.9-7.4-8-12.8-8-5.5%200-10.4%203.1-12.8%208l-17.7%2035.9-39.6%205.8c-5.4.8-9.9%204.6-11.6%209.7-1.7%205.2-.3%2010.9%203.6%2014.7l28.7%2027.9zM188%20302c4.7-.7%208.7-3.6%2010.8-7.8l8.2-16.6%208.2%2016.6c2.1%204.2%206.1%207.2%2010.8%207.8l18.3%202.7-13.3%2012.9c-3.4%203.3-4.9%208-4.1%2012.7l3.1%2018.3-16.4-8.6c-2.1-1.1-4.4-1.6-6.7-1.6s-4.6.5-6.7%201.6l-16.4%208.6%203.1-18.3c.8-4.6-.7-9.4-4.1-12.7l-13.3-12.9L188%20302z%22%2F%3E%3C%2Fsvg%3E');
    }
    .icon-consalt {
      background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20371.1%20409.6%22%3E%3Cstyle%3E.st0%7Bopacity%3A.5%7D.st0%2C.st1%7Bfill%3A%239abe2c%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M248.1%20302.8L185.5%20354%20123%20302.8l41.2-183.6H207l41.1%20183.6zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M185.5%20366.4c-2.8%200-5.5-.9-7.8-2.8l-62.6-51.2c-3.6-3-5.3-7.7-4.2-12.3l41.2-183.6c1.3-5.6%206.3-9.6%2012.1-9.6H207c5.8%200%2010.8%204%2012.1%209.6l41.2%20183.6c1%204.6-.6%209.3-4.2%2012.3l-62.6%2051.2c-2.4%201.8-5.2%202.8-8%202.8zm-48.8-68.3l48.9%2040%2048.9-40-37.3-166.5h-23l-37.5%20166.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M113%20153c-8.7%200-16.6-4.7-20.9-12.2L58.3%2080.1c-1-1.8-1.6-3.9-1.6-6V30.6C56.8%2013.7%2070.5%200%2087.4%200c5.4%200%2010.8%201.5%2015.6%204.3l80.3%2047.5c3%201.8%205.1%204.8%205.8%208.2.7%203.4-.1%207-2.2%209.8l-54.8%2073.5c-4.6%206.2-11.6%209.7-19.1%209.7zM81.5%2070.9l31.6%2056.7%2045.8-61.5-68.5-40.5c-1-.6-2-.9-3-.9-2.9%200-5.9%202.3-5.9%205.9v40.3zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M258.1%20153c-7.6%200-14.6-3.5-19.1-9.6l-54.8-73.5c-2.1-2.8-2.9-6.4-2.2-9.8.7-3.4%202.8-6.4%205.8-8.2l80.3-47.5c4.7-2.8%2010.1-4.3%2015.5-4.3%2016.9%200%2030.6%2013.7%2030.6%2030.6v43.4c0%202.1-.5%204.2-1.6%206L279%20140.7c-4.2%207.6-12.2%2012.3-20.9%2012.3zm-45.9-86.9l45.8%2061.5%2031.6-56.7V30.6c0-3.7-3.1-5.9-5.9-5.9-1%200-2%20.3-3%20.9l-68.5%2040.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M194.1%2062.5H177L140.1%20112l8.5%2026h73.9l8.5-26-36.9-49.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M222.5%20150.2h-73.9c-5.3%200-10.1-3.4-11.7-8.5l-8.5-25.9c-1.3-3.8-.6-8%201.8-11.2l36.9-49.5c2.3-3.1%206-5%209.9-5h17.1c3.9%200%207.6%201.8%209.9%205l36.9%2049.5c2.4%203.2%203.1%207.4%201.8%2011.2l-8.5%2025.9c-1.7%205.1-6.4%208.5-11.7%208.5zm-65-24.7h56l3.7-11.4-29.4-39.4h-4.7l-29.4%2039.4%203.8%2011.4zm0%200M307.4%20409.6h-59.3c-6.8%200-12.3-5.5-12.3-12.4%200-6.8%205.5-12.3%2012.3-12.3h59.3c21.5%200%2038.9-17.5%2038.9-38.9V146.4c0-6.6-2.6-12.8-7.2-17.5-4.8-4.8-4.8-12.6%200-17.5%204.8-4.8%2012.6-4.8%2017.5%200%209.3%209.3%2014.5%2021.7%2014.5%2034.9V346c0%2035.1-28.6%2063.6-63.7%2063.6zm0%200M173.2%20409.6H63.6C28.6%20409.6%200%20381.1%200%20346V146.4c0-13.2%205.1-25.6%2014.5-34.9l44.3-44.3c4.8-4.8%2012.6-4.8%2017.5%200%204.8%204.8%204.8%2012.6%200%2017.5L31.9%20129c-4.7%204.7-7.2%2010.9-7.2%2017.5V346c0%2021.5%2017.5%2038.9%2038.9%2038.9h109.5c6.8%200%2012.3%205.5%2012.3%2012.4.1%206.8-5.4%2012.3-12.2%2012.3zm0%200%22%2F%3E%3C%2Fsvg%3E');
    }
  }
  .slick-slide {
    outline: none;
    @include mq('laptop') {
      padding-right: 10px;
      &:last-of-type {
        padding-right: 0;
      }
    }
    @include mq('desktop') {
      padding-right: 0;
    }
  }
  .slick-dots li {
    margin: 0;
  }
  .slick-dots li button:before {
    @include font-size(33px);
  }
  .slick-dots li.slick-active button:before {
    color: #7cca55;
    opacity: 1;
  }
  .slick-dots {
    bottom: -5px;
  }
  .slick-slider {
    margin-bottom: 17px;
  }
}

.icon-consalt {
  background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20371.1%20409.6%22%3E%3Cstyle%3E.st0%7Bopacity%3A.5%3Bfill%3A%23ccb0a0%7D.st1%2C.st2%7Bfill%3A%23b9b2ae%7D.st2%7Bopacity%3A.5%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M248.1%20302.8L185.5%20354%20123%20302.8l41.2-183.6H207l41.1%20183.6zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M185.5%20366.4c-2.8%200-5.5-.9-7.8-2.8l-62.6-51.2c-3.6-3-5.3-7.7-4.2-12.3l41.2-183.6c1.3-5.6%206.3-9.6%2012.1-9.6H207c5.8%200%2010.8%204%2012.1%209.6l41.2%20183.6c1%204.6-.6%209.3-4.2%2012.3l-62.6%2051.2c-2.4%201.8-5.2%202.8-8%202.8zm-48.8-68.3l48.9%2040%2048.9-40-37.3-166.5h-23l-37.5%20166.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M113%20153c-8.7%200-16.6-4.7-20.9-12.2L58.3%2080.1c-1-1.8-1.6-3.9-1.6-6V30.6C56.8%2013.7%2070.5%200%2087.4%200c5.4%200%2010.8%201.5%2015.6%204.3l80.3%2047.5c3%201.8%205.1%204.8%205.8%208.2.7%203.4-.1%207-2.2%209.8l-54.8%2073.5c-4.6%206.2-11.6%209.7-19.1%209.7zM81.5%2070.9l31.6%2056.7%2045.8-61.5-68.5-40.5c-1-.6-2-.9-3-.9-2.9%200-5.9%202.3-5.9%205.9v40.3zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M258.1%20153c-7.6%200-14.6-3.5-19.1-9.6l-54.8-73.5c-2.1-2.8-2.9-6.4-2.2-9.8.7-3.4%202.8-6.4%205.8-8.2l80.3-47.5c4.7-2.8%2010.1-4.3%2015.5-4.3%2016.9%200%2030.6%2013.7%2030.6%2030.6v43.4c0%202.1-.5%204.2-1.6%206L279%20140.7c-4.2%207.6-12.2%2012.3-20.9%2012.3zm-45.9-86.9l45.8%2061.5%2031.6-56.7V30.6c0-3.7-3.1-5.9-5.9-5.9-1%200-2%20.3-3%20.9l-68.5%2040.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M194.1%2062.5H177L140.1%20112l8.5%2026h73.9l8.5-26-36.9-49.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M222.5%20150.2h-73.9c-5.3%200-10.1-3.4-11.7-8.5l-8.5-25.9c-1.3-3.8-.6-8%201.8-11.2l36.9-49.5c2.3-3.1%206-5%209.9-5h17.1c3.9%200%207.6%201.8%209.9%205l36.9%2049.5c2.4%203.2%203.1%207.4%201.8%2011.2l-8.5%2025.9c-1.7%205.1-6.4%208.5-11.7%208.5zm-65-24.7h56l3.7-11.4-29.4-39.4h-4.7l-29.4%2039.4%203.8%2011.4zm0%200M307.4%20409.6h-59.3c-6.8%200-12.3-5.5-12.3-12.4%200-6.8%205.5-12.3%2012.3-12.3h59.3c21.5%200%2038.9-17.5%2038.9-38.9V146.4c0-6.6-2.6-12.8-7.2-17.5-4.8-4.8-4.8-12.6%200-17.5%204.8-4.8%2012.6-4.8%2017.5%200%209.3%209.3%2014.5%2021.7%2014.5%2034.9V346c0%2035.1-28.6%2063.6-63.7%2063.6zm0%200M173.2%20409.6H63.6C28.6%20409.6%200%20381.1%200%20346V146.4c0-13.2%205.1-25.6%2014.5-34.9l44.3-44.3c4.8-4.8%2012.6-4.8%2017.5%200%204.8%204.8%204.8%2012.6%200%2017.5L31.9%20129c-4.7%204.7-7.2%2010.9-7.2%2017.5V346c0%2021.5%2017.5%2038.9%2038.9%2038.9h109.5c6.8%200%2012.3%205.5%2012.3%2012.4.1%206.8-5.4%2012.3-12.2%2012.3zm0%200%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  width: 72px;
  height: 80px;
  @include mq('tablet') {
    width: 55px;
    height: 70px;
  }
  @include mq('laptop') {}
  @include mq('desktop') {
    width: 72px;
    height: 80px;
    margin-right: 0;
    margin-left: 70px;
  }
}
.icon-delivery {
  width: 100px;
  height: 79px;
  background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-49%20227.9%20512%20338.3%22%3E%3Cstyle%3E.st0%7Bopacity%3A.37%3Bfill%3A%23ccb0a0%7D.st1%7Bfill%3A%23b9b2ae%7D%3C%2Fstyle%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%2257.1%22%20cy%3D%22505.5%22%20r%3D%2248.2%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M448.8%20482.7h-59.7c-8.7-24.1-31.7-41.3-58.7-41.3-27%200-50%2017.3-58.7%2041.3H163.6v-83.8c0-7.8-6.3-14.2-14.2-14.2s-14.2%206.3-14.2%2014.2v83.8h-19.4c-8.7-24.1-31.7-41.3-58.7-41.3-27%200-50%2017.3-58.7%2041.3h-9.5c-5.3%200-9.6-4.3-9.6-9.6v-61.7c0-2.5%201-4.9%202.7-6.7L16.3%20385c.4-.2.8-.5%201.2-.8h52.1c7.8%200%2014.2-6.3%2014.2-14.2%200-7.8-6.3-14.2-14.2-14.2H30.8l25.8-67.9c8.8-19.3%2028.1-31.8%2049.2-31.9l29.4.1v52c0%207.8%206.3%2014.2%2014.2%2014.2s14.2-6.3%2014.2-14.2V242c0-7.8-6.3-14.1-14.1-14.2l-43.6-.1c-32.5.1-62%2019.3-75.3%2049-.1.2-.2.5-.3.7L-2.1%20363l-31.3%2018c-.7.4-1.4.9-2.1%201.4-8.6%207.2-13.5%2017.8-13.5%2029v61.7C-49%20494-32%20511-11.1%20511h6.3c3.6%2031%2030%2055.1%2061.9%2055.1S115.4%20542%20119%20511h149.5c3.6%2031%2030%2055.1%2061.9%2055.1%207.8%200%2014.2-6.3%2014.2-14.2%200-7.8-6.3-14.2-14.2-14.2-18.8%200-34-15.3-34-34%200-18.8%2015.3-34%2034-34s34%2015.3%2034%2034c0%207.8%206.3%2014.2%2014.2%2014.2%205.2%200%209.7-2.8%2012.1-6.9h58.1c7.8%200%2014.2-6.3%2014.2-14.2%200-7.7-6.3-14.1-14.2-14.1zM57.1%20537.8c-18.8%200-34-15.3-34-34%200-18.8%2015.3-34%2034-34s34%2015.3%2034%2034-15.2%2034-34%2034z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M371.5%20244.1v88.6l-38.2-20.8-38.3%2020.8v-88.6h-77.3v156.5h231.1V244.1z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M448.8%20413H217.7c-7.8%200-14.2-6.3-14.2-14.2V242.4c0-7.8%206.3-14.2%2014.2-14.2H295c7.8%200%2014.2%206.3%2014.2%2014.2v64.8l17.3-9.4c4.2-2.3%209.3-2.3%2013.5%200l17.3%209.4v-64.8c0-7.8%206.3-14.2%2014.2-14.2h77.3c7.8%200%2014.2%206.3%2014.2%2014.2v156.5c0%207.8-6.3%2014.1-14.2%2014.1zm-216.9-28.3h202.8V256.5h-49v74.4c0%205-2.6%209.6-6.9%2012.2-4.3%202.6-9.6%202.7-14%20.3l-31.5-17.1-31.5%2017.1c-4.4%202.4-9.7%202.3-14-.3-4.3-2.6-6.9-7.2-6.9-12.2v-74.4h-49v128.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  @include mq('tablet') {
    width: 70px;
    height: 70px;
  }
  @include mq('laptop') {
    width: 96px;
  }
  @include mq('desktop') {
    width: 100px;
    height: 67px;
    margin-right: 0;
  }
}
.icon-call {
  background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20409.6%20409.6%22%3E%3Cstyle%3E.st0%7Bfill%3A%23b9b2ae%7D.st1%7Bopacity%3A.5%3Bfill%3A%23ccb0a0%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M277.9%20409.6H65.6c-6.7%200-12.1-5.4-12.1-12.1s5.4-12.1%2012.1-12.1h212.3c6.7%200%2012.1%205.4%2012.1%2012.1s-5.4%2012.1-12.1%2012.1zm0%200%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M374.4%20409.6h-25.3c-6.7%200-12.1-5.4-12.1-12.1s5.4-12.1%2012.1-12.1h25.3c6.1%200%2011.1-5%2011.1-11.1V367c0-6.1-5-11.1-11.1-11.1H65.6c-6.7%200-12.1-5.4-12.1-12.1%200-6.7%205.4-12.1%2012.1-12.1h308.7c19.4%200%2035.2%2015.8%2035.2%2035.2v7.3c.1%2019.6-15.7%2035.4-35.1%2035.4zm0%200%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M65.6%20407c-6.7%200-12.1-5.4-12.1-12.1V35.2c0-6.1-5-11.1-11.1-11.1h-7.3c-6.1%200-11.1%205-11.1%2011.1v298.2c0%206.7-5.4%2012.1-12.1%2012.1S0%20340%200%20333.4V35.2C0%2015.8%2015.8%200%2035.2%200h7.3c19.4%200%2035.2%2015.8%2035.2%2035.2v359.7c0%206.7-5.4%2012.1-12.1%2012.1zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M189.1%20121.2l28.3%2028.3L65.8%20301l-.2%2043H116l148-148%2028.3%2028.3c1.9%201.9%205.1.8%205.4-1.8l16-119.2c.3-2.1-1.5-3.9-3.6-3.6l-119.2%2016c-2.6.4-3.6%203.6-1.8%205.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M116%20356.2H65.6c-3.2%200-6.3-1.3-8.6-3.6s-3.5-5.4-3.5-8.6l.2-43c0-3.2%201.3-6.2%203.5-8.5l143.1-143.1-19.7-19.7c-4.1-4.1-5.5-10.1-3.7-15.7%201.9-5.5%206.6-9.5%2012.4-10.2l119.2-16c5.1-.7%2010.2%201.3%2013.5%205.1%202.9%203.3%204.2%207.7%203.6%2012.1l-16%20119.2c-1%207.6-7.5%2013.2-15.2%2013.2-4.1%200-7.9-1.6-10.8-4.5L264%20213.1%20124.6%20352.6c-2.3%202.3-5.4%203.6-8.6%203.6zM77.8%20332H111l144.5-144.5c2.3-2.3%205.3-3.5%208.5-3.5s6.3%201.3%208.5%203.5l15.6%2015.6%2012.1-89.9-89.9%2012.1%2015.6%2015.6c4.7%204.7%204.7%2012.4%200%2017.1L77.8%20306.1V332zm0%200M163.5%2087.7H68.1c-6.7%200-12.1-5.4-12.1-12.1s5.4-12.1%2012.1-12.1h95.4c6.7%200%2012.1%205.4%2012.1%2012.1s-5.5%2012.1-12.1%2012.1zm0%200M335.2%20353.7c-6.7%200-12.1-5.4-12.1-12.1v-88.1c0-6.7%205.4-12.1%2012.1-12.1%206.7%200%2012.1%205.4%2012.1%2012.1v88.1c0%206.7-5.4%2012.1-12.1%2012.1zm0%200%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  width: 80px;
  height: 80px;
  @include mq('tablet') {
    width: 56px;
    height: 70px;
  }
  @include mq('laptop') {
    width: 67px;
  }
  @include mq('desktop') {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-right: 0;
  }
}
.icon-garanty {
  background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%2238%20141%20338%20512%22%3E%3Cstyle%3E.st0%7Bopacity%3A.5%3Bfill%3A%23ccb0a0%7D.st1%7Bfill%3A%23b9b2ae%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M207%20155.3c-85.4%200-154.7%2069.3-154.7%20154.7S121.6%20464.7%20207%20464.7%20361.7%20395.4%20361.7%20310%20292.4%20155.3%20207%20155.3zm42.1%20219.5L207%20352.6l-42.1%2022.1%208-46.9-34.1-33.2%2047.1-6.8%2021-42.6%2021%2042.6%2047.1%206.8-34.1%2033.2%208.2%2047z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M338.3%20456.4c-7.9%200-14.3%206.4-14.3%2014.3v93.9l-43.3-29.2c-4.8-3.3-11.2-3.3-16%200l-43.3%2029.2v-53.3c0-7.9-6.4-14.3-14.3-14.3s-14.3%206.4-14.3%2014.3v100.5l-43.3-29.2c-4.8-3.3-11.2-3.3-16%200l-43.3%2029.2V431.9C120.4%20461.1%20161.7%20479%20207%20479c93.2%200%20169-75.8%20169-169s-75.8-169-169-169S38%20216.8%2038%20310c0%2031.3%208.6%2060.6%2023.4%2085.7v242.9c0%205.3%202.9%2010.2%207.6%2012.6%204.7%202.5%2010.3%202.2%2014.7-.8l57.6-38.8%2057.6%2038.8c2.4%201.6%205.2%202.4%208%202.4%202.3%200%204.6-.6%206.7-1.7%204.7-2.5%207.6-7.3%207.6-12.6V599l51.3-34.5%2057.6%2038.8c2.4%201.6%205.2%202.4%208%202.4%202.3%200%204.6-.6%206.7-1.7%204.7-2.5%207.6-7.3%207.6-12.6V470.7c.2-7.9-6.2-14.3-14.1-14.3zM207%20169.6c77.4%200%20140.4%2063%20140.4%20140.4s-63%20140.4-140.4%20140.4S66.6%20387.4%2066.6%20310s63-140.4%20140.4-140.4z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M157.6%20332.9l-6.8%2039.4c-.9%205.4%201.3%2010.8%205.7%2014%204.4%203.2%2010.3%203.6%2015.1%201.1l35.4-18.6%2035.4%2018.6c2.1%201.1%204.4%201.6%206.7%201.6%203%200%205.9-.9%208.4-2.7%204.4-3.2%206.6-8.6%205.7-14l-6.8-39.4%2028.7-27.9c3.9-3.8%205.3-9.5%203.6-14.7-1.7-5.2-6.2-9-11.6-9.7l-39.6-5.8-17.7-35.9c-2.4-4.9-7.4-8-12.8-8-5.5%200-10.4%203.1-12.8%208l-17.7%2035.9-39.6%205.8c-5.4.8-9.9%204.6-11.6%209.7-1.7%205.2-.3%2010.9%203.6%2014.7l28.7%2027.9zM188%20302c4.7-.7%208.7-3.6%2010.8-7.8l8.2-16.6%208.2%2016.6c2.1%204.2%206.1%207.2%2010.8%207.8l18.3%202.7-13.3%2012.9c-3.4%203.3-4.9%208-4.1%2012.7l3.1%2018.3-16.4-8.6c-2.1-1.1-4.4-1.6-6.7-1.6s-4.6.5-6.7%201.6l-16.4%208.6%203.1-18.3c.8-4.6-.7-9.4-4.1-12.7l-13.3-12.9L188%20302z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  width: 66px;
  height: 100px;
  @include mq('tablet') {
    width: 47px;
    height: 70px;
  }
  @include mq('laptop') {
    width: 54px;
  }
  @include mq('desktop') {
    width: 66px;
    height: 100px;
    margin-left: 36px;
    margin-right: 13px;
  }
}

/* end features */