/* ==========================================================================
   HEADER
   ===========================================================================*/
.header {
  position: relative;
  min-height: 589px;
  padding-top: 10px;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2d3e;
  &-logo {
    position: relative;
    display: block;
    margin: auto;
    width: 109px;
    height: 44px;
    z-index: 3;
    @media #{$tablet-widths} {
      margin-top: 56px;
      margin-bottom: 38px;
      z-index: 1;
    }
  }

  &-logo__img {
    width: 100%;
    height: auto;
  }


  &-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $color-main;
    height: 100%;
    z-index: 2;
    transition: transform 0.5s ease-in;
    @media #{$tablet-widths} {
      position: relative;
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 64px;
      background-color: transparent;
    }
  }
  &-nav--closed {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    @media #{$tablet-widths} {
      transform: translateX(0%);
    }
  }

  &__trigger {
    position: absolute;
    top: 14px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
    @media #{$tablet-widths} {
      display: none;
    }
  }
  &__trigger span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: $color-white;
    width: 100%;
    height: 3px;
    font-size: 0;
    background-color: $color-white;
  }
  &__trigger span:before,
  &__trigger span:after{
    transition: all 0.5s ease-in;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color-white;
  }

  &__trigger span:before {
    top: -10px;
  }

  &__trigger span:after {
    top: 10px;
  }

  &__trigger--closed span {
    background-color: transparent;
  }

  &__trigger--closed span:before,
  &__trigger--closed span:after{
    top: 0;
    width: 30px;
    height: 3px;
    transition: all 0.5s ease-in;
  }

  &__trigger--closed span:before {
    transform: rotate(-45deg);
  }
  &__trigger--closed span:after{
    transform: rotate(45deg);
  }

  &-nav__list {
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
    padding: 0;
    text-align: center;
    @media #{$tablet-widths} {
      flex-direction: row;
      justify-content: center;
      margin-top: 0;
    }
  }

  &-nav__item {
    display: inline-block;
    vertical-align: top;
    @media #{$tablet-widths} {
      max-width: 130px;
      overflow: hidden;
      margin: 0 20px;
    }
  }

  &-nav__link {
    color: $color-white;
    font-family: $font-family-opensans;
    font-size: 13px;
    font-weight: $font-weight-main;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    @media #{$tablet-widths} {
      display: inline-block;
      vertical-align: top;
    }
  }

  &-nav__link[href]:hover {
    color: darken($color-white, 20%);
  }

  &-nav__link[href]:active {
    color: darken($color-white, 40%);
  }

  &-nav__link--active {

  }

  .start-home {
    text-align: center;
  }

  .start-home__text {
    color: $color-white;
    font-family: $font-family-ubuntu;
    font-size: 53px;
    font-weight: $font-weight-title;
    line-height: 1;
    text-transform: uppercase;
    @media #{$tablet-widths} {
      margin: 0;
      margin-bottom: 35px;
    }
  }

  .start-home__tagline {
    position: relative;
    width: 216px;
    margin: auto;
    margin-bottom: 60px;
    color: $color-white;
    font-family: $font-family-ptsans;
    font-size: 15px;
    font-weight: $font-weight-title;
    line-height: 1;
    text-transform: uppercase;
    @media #{$tablet-widths} {
      width: 260px;
      margin-bottom: 82px;
    }
  }

  .start-home__tagline:before,
  .start-home__tagline:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    max-width: 101px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.24;
    @media #{$tablet-widths} {
      width: 37%;
    }
  }

  .start-home__tagline:before {
    left: -20%;
    @media #{$tablet-widths} {
      left: -41%;
    }
  }

  .start-home__tagline:after {
    right: -20%;
    @media #{$tablet-widths} {
      right: -41%;
    }
  }

  .start-home__button {
    padding: 12px 30px;
    font-size: 15px;
    font-weight: $font-weight-title;
    text-transform: uppercase;
    @media #{$tablet-widths} {
      padding: 16px 40px;
    }
  }
}
/* end header */