/* ==========================================================================
   LETTER COMPANY
   ===========================================================================*/
.letter-company {
  clear: both;
  margin-bottom: 57px;
  .container {
    display: flex;
    flex-direction: column;
  }
  &__title {
    width: 84%;
    margin: auto;
    margin-top: 28px;
    color: $color-black;
    font-family: $font-family-title;
    @include font-size(18px);
    font-weight: $font-weight-main;
    line-height: 22px;
    letter-spacing: 0.09px;
    @include mq('tablet') {
      width: 38%;
      margin-top: 0;
      margin-left: 5px;
      @include font-size(22px);
    }
    @include mq('laptop') {
      width: 35.2%;
      @include font-size(24px);
      line-height: 27px;
    }
    @include mq('desktop') {
      width: 22%;
      margin-left: 24px;
    }
  }
  .letter-form {
    position: relative;
    padding-bottom: 13px;
    border: 4px solid $color-brown-light;
    @include mq('tablet') {
      display: flex;
      width: 95.4%;
      margin: auto;
      padding: 46px 50px 33px 50px;
      border-width: 6px;
    }
    @include mq('laptop') {
      width: 98%;
      padding-left: 65px;
      padding-top: 43px;
      padding-right: 41px;
      padding-bottom: 23px;
      border-width: 8px;
    }
    @include mq('desktop') {
      width: 100%;
      padding-top: 39px;
      padding-right: 87px;
      padding-bottom: 37px;
      border-width: 10px;
    }
    input,
    textarea {
      width: 100%;
      margin-top: 20px;
      padding-bottom: 7px;
      color: #505050;
      font-family: $font-family-ptsans;
      @include font-size(16px);
      font-weight: $font-weight-main;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #989898;
      outline: none;
      @include placeholderOpacity(0);
      @include mq('tablet') {
        margin-top: 12px;
      }
      @include mq('laptop') {
        margin-top: 14px;
        padding-bottom: 13px;
      }
    }
    textarea {
      height: 26px;
      @include mq('tablet') {
        height: 28px;
      }
      @include mq('laptop') {
        height: 33px;
      }
      @include mq('desktop') {}
    }
    button {
      width: 100%;
      margin-top: 21px;
      outline: none;
      @include mq('tablet') {
        float: right;
        width: 40%;
        padding: 0;
        min-width: 126px;
        margin-top: 38px;
      }
      @include mq('laptop') {
        margin-top: 58px;
        width: 42%;
      }
      @include mq('desktop') {
        width: 48%;
        margin-right: 11px;
      }
    }
  }
  .letter-form-wrapper {
    width: 84%;
    margin: auto;
    @include mq('tablet') {
      width: 82%;
    }
  }
  .letter-form-group {
    position: relative;
    input.error {
      color: #ff0000;
    }
    label.error {
      position: absolute;
      top: 47px;
      left: 0;
      display: block;
      width: 100%;
      color: #ff0000;
      font-family: $font-family-ptsans;
      @include font-size($font-size-main);
      font-weight: $font-weight-main;
      @include mq('tablet') {
        @include font-size(12px);
        line-height: 11px;
      }
      @include mq('laptop') {
        top: 50px;
        @include font-size($font-size-main);
      }
      @include mq('desktop') {}
    }
  }
  .letter-form-group--name,
  .letter-form-group--email {
    @include mq('tablet') {
      width: 40%;
    }
    @include mq('laptop') {
      width: 47%;
    }
    @include mq('desktop') {
      width: 49%;
    }
  }
  .letter-form-group--name {
    @include mq('tablet') {
      float: left;
    }
  }
  .letter-form-group--email {
    @include mq('tablet') {
      float: right;
    }
  }
  .letter-form-group--message {
    @include mq('tablet') {
      margin-top: 64px;
      clear: both;
    }
    @include mq('laptop') {
      margin-top: 66px;
    }
  }
  .letter-form__captcha {
    width: 90.6%;
    margin-top: 17px;
    @include mq('tablet') {
      float: left;
      width: 53%;
      margin-top: 30px;
    }
    @include mq('laptop') {
      margin-top: 42px;
    }
    @include mq('desktop') {
      width: 36%;
    }
  }
  .letter-form__text {
    margin-top: 30px;
    color: #6f6f6f;
    font-family: $font-family-ptsans;
    @include font-size($font-size-main);
    font-weight: $font-weight-main;
    line-height: 14px;

    @include mq('tablet') {
      margin-top: 115px;
    }
    @include mq('laptop') {
      margin-top: 150px;
    }
  }
  .validate-message {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $color-main-159;
    opacity: 0;
    z-index: z(back);
    text-align: center;
    transition: all 0.5s ease-in;
    p {
      margin: 0;
      color: $color-white;
      font-family: $font-family-yeseone;
      font-size: 24px;
      font-weight: $font-weight-main;
      letter-spacing: 0.12px;
    }
  }
  .validate .validate-message {
    opacity: 1;
    z-index: z(button);
  }
}
/* end letter company */