/* ==========================================================================
   PRINTED CATALOGS
   ===========================================================================*/
.printed-catalogs {
  margin-top: 61px;
  margin-bottom: 60px;
  padding-bottom: 40px;
  background-image: url(../images/catalog-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  @include mq('tablet') {
    margin-top: 44px;
    margin-bottom: 68px;
    padding-bottom: 30px;
  }
  @include mq('laptop') {
    margin-top: 73px;
    margin-bottom: 81px;
    padding-bottom: 35px;
  }
  @include mq('desktop') {
    margin-top: 93px;
    margin-bottom: 90px;
    padding-bottom: 42px;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
  }

  &__title {
    width: 207px;
    margin-top: 30px;
    color: $color-white;
    font-family: $font-family-title;
    @include font-size(28px);
    font-weight: $font-weight-main;
    line-height: 30px;
    @include mq('tablet') {
      margin-top: 33px;
      margin-left: 39%;
      @include font-size(36px);
      line-height: 38px;
    }
    @include mq('laptop') {
      margin-top: 60px;
      margin-left: 39.7%;
      @include font-size(50px);
      line-height: 40px;
    }
    @include mq('desktop') {
      margin-top: 70px;
      margin-left: 50.7%;
      @include font-size(62px);
      line-height: 41.4px;
    }
  }

  &-img {
    display: none;
    @include mq('tablet') {
      position: absolute;
      top: -9px;
      left: 27px;
      display: block;
      width: 213px;
      height: 200px;
    }
    @include mq('laptop') {
      top: -16px;
      left: 20px;
      width: 293px;
      height: 274px;
    }
    @include mq('desktop') {
      width: 339px;
      height: 317px;
    }
    @include mq('desktop') {
      top: -21px;
      left: 223px;
    }
  }
  &-download {
    position: relative;
    display: block;
    margin-top: 41px;
    margin-right: 12px;
    width: 73px;
    height: 73px;
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-white;
    box-shadow: rgba(255,255,255,0.5) 0 0 0px 10px;
    text-align: center;
    transition: all 0.3s ease-in;
    @include mq('tablet') {
      margin-top: 28px;
      margin-right: 25px;
      width: 123px;
      height: 123px;
      box-shadow: rgba(255,255,255,0.5) 0 0 0px 15px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 12px;
        left: -9px;
        width: 139px;
        height: 139px;
        background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22185%22%20height%3D%22132%22%20viewBox%3D%220%200%20185%20132%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-linecap%3Around%3Bstroke-width%3A2px%3Bstroke-dasharray%3A.001%208%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ccircle%20id%3D%22Ellipse_1_copy_2%22%20data-name%3D%22Ellipse%201%20copy%202%22%20class%3D%22cls-1%22%20cx%3D%2292.5%22%20cy%3D%2266.5%22%20r%3D%2292.5%22%2F%3E%3C%2Fsvg%3E');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    @include mq('laptop') {
      margin-top: 37px;
      margin-right: 21px;
      width: 169px;
      height: 169px;
      &:before {
        top: 19px;
        left: -6px;
        width: 180px;
        height: 180px;
        background-size: 100%;
      }
    }
    @include mq('desktop') {
      margin-top: 53px;
      margin-right: 34px;
    }
    &:hover {
      background-color: #9fcf67;
    }
  }
  &-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: 31px;
    margin: auto;
    @include mq('tablet') {
      height: 59px;
    }
    @include mq('laptop') {
      height: 79px;
    }
    span {
      display: none;
      color: $color-white;
      font-family: $font-family-ptsans;
      font-weight: $font-weight-main;
      @include mq('tablet') {
        display: block;
      }
      @include mq('laptop') {
        @include font-size(15px);
      }
    }
  }
  &-btn--static {
    opacity: 1;
    span {
      color: $color-black;
    }
  }
  &-btn--active {
    height: 24px;
    @include mq('tablet') {
      height: 80px;
    }
    @include mq('laptop') {
      height: 101px;
    }
    @include mq('desktop') {}
    opacity: 0;
  }
}
.printed-catalogs-download:hover {
  box-shadow: rgba(255, 255, 255, 1) 0 0 0px 15px;
  transition: all 0.3s ease-in;
  .printed-catalogs-btn--static {
    opacity: 0;
  }
  .printed-catalogs-btn--active {
    opacity: 1;
  }
}
.icon-download {
  width: 38px;
  height: 31px;
  @include mq('tablet') {
    width: 42px;
    height: 33px;
  }
  @include mq('laptop') {
    width: 63px;
    height: 50px;
  }
}
.icon-book {
  fill: transparent;
  stroke: $color-white;
  width: 33px;
  height: 26px;
  @include mq('tablet') {
    width: 37px;
    height: 28px;
  }
  @include mq('laptop') {
    width: 58px;
    height: 46px;
  }
}
/* end printed catalogs */