/* ==========================================================================
   SHARE
   ===========================================================================*/
.share {
  width: 100%;
  margin-bottom: 20px;
  .container {
    padding-right: 10px !important;
    padding-left: 10px !important;
    @include mq('tablet') {
      padding-left: 27px !important;
      padding-right:  27px !important;
    }
    @include mq('laptop') {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    @include mq('desktop') {
    }
  }
  &__title {
    // width: 100%;
    color: $color-black;
    font-family: $font-family-title;
    @include font-size(18px);
    font-weight: $font-weight-main;
    line-height: 22px;
    letter-spacing: 0.09px;
    @include mq('tablet') {
      @include font-size(22px);
    }
    @include mq('laptop') {
      @include font-size(24px);
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    padding: 21px 22px;
    border: 4px solid $color-brown-light;
    @include mq('tablet') {
      width: 100%;
      margin: auto;
      flex-direction: row;
      padding: 39px 56px;
      border: 6px solid $color-brown-light;
    }
    @include mq('laptop') {
      width: 100%;
      padding: 40px 74px;
      border: 8px solid $color-brown-light;
    }
    @include mq('desktop') {
      width: 100%;
      padding: 76px 88px;
      border: 8px solid $color-brown-light;
    }
  }
  &-list-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 13px;
    @include mq('tablet') {
      width: 67%;
      margin-top: 0;
      margin-left: 44px;
    }
    @include mq('laptop') {
      width: 66%;
      margin-top: 3px;
      margin-left: 87px;
    }
    @include mq('desktop') {
      width: 60%;
      margin-top: -3px;
      margin-left: 236px;
    }
  }
  &__link {
    position: relative;
    width: 30px;
    height: 30px;
    &:hover {
      .icon {
        stroke: #9abd2c;
      }
    }
  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: transparent;
    stroke: #b9b2ae;
    &-share-vk {
      width: 30px;
      height: 19px;
      @include mq('tablet') {
        width: 40px;
        height: 25px;
      }
      @include mq('laptop') {
        width: 51px;
        height: 32px;
      }
      @include mq('desktop') {
        width: 61px;
        height: 38px;
      }
    }
    &-share-fb {
      width: 14px;
      height: 30px;
      @include mq('tablet') {
        width: 19px;
        height: 40px;
      }
      @include mq('laptop') {
        width: 23px;
        height: 50px;
      }
      @include mq('desktop') {
        width: 27px;
        height: 60px;
      }
    }
    &-share-google {
      width: 30px;
      height: 19px;
      @include mq('tablet') {
        width: 40px;
        height: 25px;
      }
      @include mq('laptop') {
        width: 50px;
        height: 31px;
      }
      @include mq('desktop') {
        width: 60px;
        height: 37px;
      }
    }
    &-share-inst {
      width: 30px;
      height: 30px;
      @include mq('tablet') {
        width: 40px;
        height: 40px;
      }
      @include mq('laptop') {
        width: 50px;
        height: 50px;
      }
      @include mq('desktop') {
        width: 60px;
        height: 60px;
      }
    }
  }
}
/* end share */