body {
  position: relative;
  display: flex;
  flex-flow:column;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-family-main;
  font-size: 12px;
  line-height: $line-height-main;
  background-color: #eeeeef;

}

.wrapper {
}

.container {
  margin: 0 auto;
  padding: 0 10px;

  @media #{$tablet-widths} {
    max-width: 590px;
  }
}

.hidden {
  display: none;
}

.button {
  color: #f5f5f5;
  font-family: $font-family-ptsans;
  font-weight: $font-weight-main;
  border: none;
  border-radius: 23px;
  cursor: pointer;
}

.button--azure {
  font-family: $font-family-ptsans;
  line-height: 1;
  background-color: $color-button;
  border-radius: 23px;
}
.button--azure:hover {
  color: darken(#f5f5f5, 15%);
  background-color: darken($color-button, 15%);
}
.button--azure:active {
  color: darken(#f5f5f5, 30%);
  background-color: darken($color-button, 30%);
}
