/* ==========================================================================
    NEWS PAGE content
===========================================================================*/
.content--news {
  margin-bottom: 54px;
  @include mq('tablet') {
    margin-bottom: 88px;
  }
  @include mq('laptop') {
    margin-bottom: 110px;
  }
  @include mq('desktop') {
    margin-bottom: 156px;
  }

  .content__title {
    @include mq('tablet') {
      top: -96px;
    }
    @include mq('laptop') {
      top: -98px;
      left: -127px;
      width:577px;
    }
    @include mq('desktop') {
      top: -418px;
      left: -253px;
      width: 827px;
    }
  }

  .content-nav {
    margin-bottom: 30px;
    @include mq('tablet') {
      width: 21.7%;
    }
    @include mq('laptop') {
      width: 29%;
    }
    @include mq('desktop') {
      width: 22%;
    }
    &__btn {
      background-color: #7cca55;
      color: $color-white;
    }

    &-list {
      @include mq('desktop') {
        margin-top: 0;
        padding-top: 4px;
      }
      li {
        @include mq('tablet') {
          padding-bottom: 12px;
        }
        @include mq('laptop') {
          width: 100%;
          padding-bottom: 21px;
        }
        @include mq('desktop') {
        }
      }
    }
  }

  .content-desc {
    @include mq('tablet') {
      width: 65.1%;
    }
    @include mq('laptop') {
      width: 57.1%;
    }
    @include mq('desktop') {
      width: 66.4%;
    }

    &__img {
      height: 174px;
      overflow: hidden;
      @include mq('tablet') {
        height: 266px;
      }
      @include mq('laptop') {
        height: 309px;
      }
      @include mq('desktop') {
        height: 480px;
      }
    }
  }

  .content-event {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 15px;
    @include mq('laptop') {
      margin-left: 0;
    }

    &-data {
      width: 82px;
      height: 83px;
      border: 4px solid #b8b0ae;
      text-align: center;
      @include mq('tablet') {
        position: absolute;
        top: -44px;
        left: 5px;
        border-width: 6px;
        border-color: rgba(184, 176, 174, 0.68);
      }
      @include mq('laptop') {
        left: 22px;
        border-width: 8px;
      }
      @include mq('desktop') {
        left: 26px;
        width: 118px;
        height: 118px;
        border-width: 10px;
      }
    }

    &__day {
      display: block;
      color: $color-black;
      font-family: $font-family-yeseone;
      font-weight: $font-weight-main;
      @include font-size(38px);
      letter-spacing: 0.5px;
      @include mq('laptop') {
        @include font-size(30px);
      }
      @include mq('desktop') {
        @include font-size(46px);
      }
    }

    &__month {
      display: block;
      margin-top: -14px;
      color: $color-black;
      font-family: $font-family-yeseone;
      @include font-size($font-size-main);
      font-weight: $font-weight-main;
      letter-spacing: 0.19px;
      @include mq('laptop') {
        @include font-size(12px);
      }
      @include mq('desktop') {
        @include font-size(17px);
      }
    }

    &__title {
      width: 59%;
      margin-top: -2px;
      margin-left: 19px;
      color: $color-black;
      font-family: $font-family-title;
      @include font-size(20px);
      font-weight: $font-weight-main;
      line-height: 22px;
      letter-spacing: 0.15px;
      @include mq('tablet') {
        width: 79%;
        margin-top: -2px;
        margin-left: 104px;
      }
      @include mq('laptop') {
        margin-left: 133px;
        margin-bottom: 27px;
      }
      @include mq('desktop') {
        margin-top: 8px;
        margin-bottom: 63px;
        margin-left: 208px;
        @include font-size(24px);
        line-height: 29px;
      }
    }

    p {
      display: none;
      @include mq('laptop') {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        color: $color-black;
        font-family: $font-family-ptsans;
        @include font-size(16px);
        font-weight: $font-weight-main;
        line-height: 22px;
        letter-spacing: 0.5px;
      }
      @include mq('desktop') {
        margin-bottom: 2px;
      }
    }
  }
}
/* end  news page content  */