/* ==========================================================================
    NEWS ARTICLE PAGE CONTENT
===========================================================================*/
.content--news-article {
  margin-top: 34px;
  @include mq('tablet') {
    margin-top: 39px;
  }
  @include mq('laptop') {
    margin-top: 30px;
  }
  .container {

    margin-bottom: 51px;
    @include mq('laptop') {
      margin-bottom: 60px;
    }
    @include mq('desktop') {
      margin-bottom: 46px;
    }
  }
  .content__title {
    margin-bottom: 0;
    @include mq('tablet') {
      top: -241px;
    }
    @include mq('desktop') {
      top: -486px;
    }
    h1 {
      margin-bottom: 14px;
    }
  }

  .content-sidebar {
    margin-bottom: 11px;
    @include mq('tablet') {
      width: 30.4%;
      padding-right: 30px;
    }
    @include mq('laptop') {
      width: 29.2%;
    }
    @include mq('desktop') {
      width: 23.5%;
      padding-right: 44px;
    }
    .content-event-data {
      display: inline-block;
      vertical-align: top;
      width: 53px;
      height: 53px;
      margin-left: 15px;
      border: 4px solid #b8b0ae;
      text-align: center;
      @include mq('tablet') {
        width: 90px;
        height: 90px;
        margin-left: 0;
        border-width: 6px;
        border-color: rgba(184, 176, 174, 0.68);
      }
      @include mq('laptop') {
        left: 22px;
        width: 100px;
        height: 100px;
        border-width: 8px;
      }
      @include mq('desktop') {
        left: 26px;
        width: 118px;
        height: 118px;
        border-width: 10px;
      }
    }

    .content-event__day {
      display: block;
      color: $color-black;
      font-family: $font-family-yeseone;
      font-weight: $font-weight-main;
      @include font-size(20px);
      letter-spacing: 0.17px;
      @include mq('tablet') {
        @include font-size(38px);
        letter-spacing: 0.33px;
      }
      @include mq('laptop') {
        @include font-size(40px);
        letter-spacing: 0.35px;
      }
      @include mq('desktop') {
        margin-top: 8px;
        @include font-size(46px);
      }
    }

    .content-event__month {
      display: block;
      margin-top: -6px;
      color: $color-black;
      font-family: $font-family-yeseone;
      @include font-size(12px);
      font-weight: $font-weight-main;
      letter-spacing: 0.19px;
      @include mq('tablet') {
        @include font-size($font-size-main);
        letter-spacing: 0.12px;
        line-height: 4px;
      }
      @include mq('laptop') {
        @include font-size(16px);
        letter-spacing: 0.14px;
      }
      @include mq('desktop') {
        @include font-size(17px);
      }
    }

    &__title {
      display: inline-block;
      vertical-align: top;
      width: 66%;
      margin-left: 19px;
      color: $color-black;
      font-family: $font-family-title;
      @include font-size(20px);
      font-weight: $font-weight-main;
      line-height: 22px;
      letter-spacing: 0.15px;
      @include mq('tablet') {
        width: 79%;
        margin-top: 26px;
        margin-left: 0;
        line-height: 24px;
        letter-spacing: 1.35px;
      }
      @include mq('laptop') {
        width: 94%;
        margin-top: 37px;
        margin-bottom: 27px;
        @include font-size(24px);
        line-height: 28px;
        letter-spacing: 0.12px;
      }
      @include mq('desktop') {
        width: 100%;
        margin-top: 59px;
        margin-bottom: 63px;
        margin-left: 0;
        @include font-size(24px);
        line-height: 29px;
      }
    }

    &__text {
      margin-top: 20px;
      margin-left: 15px;
      margin-right: 15px;
      color: $color-black;
      font-family: $font-family-ptsans;
      @include font-size($font-size-main);
      font-weight: $font-weight-main;
      line-height: 20px;
      @include mq('tablet') {
        width: 99%;
        margin-top: 25px;
        margin-left: 0;
      }
      @include mq('laptop') {
        margin-top: 4px;
        @include font-size(16px);
        line-height: 22px;
      }
      @include mq('desktop') {
        margin-top: 7px;
        line-height: 24px;
      }
    }

    &-tags {
      display: none;
      @include mq('tablet') {
        display: block;
        margin-top: 34px;
      }
      @include mq('laptop') {
        margin-top: 40px;
      }
      @include mq('desktop') {
        margin-top: 88px;
      }
      a {
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 10px;
        padding: 4px 9px;
        color: #ffffff;
        font-family: $font-family-ptsans;
        @include font-size($font-size-main);
        font-weight: $font-weight-main;
        border-radius: 3px;
        background-color: #7cca55;
        @include mq('laptop') {
          margin-right: 3px;
          padding: 4px 17px;
        }
        @include mq('desktop') {
          margin-right: 7px;
          padding: 4px 17px;
        }
      }
    }
  }

  .content-desc {
    @include mq('tablet') {
      width: 56.6%;
      margin-top: 0;
    }
    @include mq('laptop') {
      width: 56.9%;
    }
    @include mq('desktop') {
      width: 66.3%;
    }

    &__img {
      height: 200px;
      margin-bottom: 20px;
      overflow: hidden;
      @include mq('tablet') {
        height: 269px;
        margin-bottom: 25px;
      }
      @include mq('laptop') {
        height: 359px;
        margin-bottom: 27px;
      }
      @include mq('desktop') {
        height: 551px;
        margin-bottom: 35px;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 13px;
      color: $color-black;
      font-family: $font-family-ptsans;
      @include font-size($font-size-main);
      font-weight: $font-weight-main;
      line-height: 20px;
      letter-spacing: 0.1px;
      @include mq('tablet') {
        margin-bottom: 20px;
      }
      @include mq('laptop') {
        width: 93%;
        margin-bottom: 14px;
        @include font-size(16px);
        line-height: 23px;
      }
      @include mq('desktop') {
        width: 100%;
        margin-bottom: 27px;
      }
    }
  }

  .content-control {
    margin-top: 34px;
    margin-left: 15px;
    margin-right: 15px;
    @include mq('tablet') {
      margin-top: 22px;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    @include mq('laptop') {
      float: right;
      width: 67%;
      margin-top: 37px;
      margin-right: 0;
    }
    @include mq('desktop') {
      width: 43.4%;
    }
    &__btn {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 3px 2px;
      text-align: center;
      color: #505050;
      font-family: $font-family-ptsans;
      @include font-size($font-size-main);
      font-weight: $font-weight-main;
      @include mq('laptop') {
        padding: 7px 2px;
        padding-bottom: 15px;
        @include font-size(16px);
      }
      &:last-child {
        margin-right: -0.5em;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        width: 18px;
        height: 29px;
        background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2229%22%20viewBox%3D%220%200%2018%2029%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M289.76%201807.02l2.47-2.54%2012.77%2012.77-.35.36.25.26-12.77%2012.76-2.44-2.5%2010.58-10.6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23c1c1c7%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-288%20-1803)%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        @include mq('laptop') {
          top: 8px;
        }
      }
    }

    &__btn--prev {
      border-right: 1px dotted #c1c1c7;
      &:before {
        left: -10px;
        transform: rotate(180deg);
        @include mq('tablet') {
          left: -1px;
        }
        @include mq('laptop') {
          left: -13px;
        }
      }
    }

    &__btn--next {
      &:before {
        right: -8px;
        @include mq('tablet') {
          right: 0;
        }
      }
    }
  }
}
/* end  news-article page content  */