/* ==========================================================================
    NEWS-ARTICLE PAGE EVENTS
===========================================================================*/
.events-news-article {
  position: relative;
  display: none;
  margin-bottom: 57px;
  text-align: left;
  @include mq('laptop') {
    display: flex;
    justify-content: flex-end;
    margin-top: 71px;
  }
  @include mq('desktop') {
    margin-top: 91px;
    margin-bottom: 81px;
  }
  .events__title {
    position: absolute;
    top: -167px;
    left: -55px;
    width: 487px;
    height: 64px;
    transform: rotate(-90deg) translateX(-350px) translateY(-118px);
    @include font-size(60px);
    line-height: 12px;
    letter-spacing: -0.42px;
    @include mq('desktop') {
      top: -87px;
      left: -175px;
      width: 707px;
      @include font-size(91px);
    }
  }
  .container {
    width: 88.8%;
    min-height: 600px;
    margin-right: 19px;
    overflow: hidden;
    @include mq('desktop') {
      max-width: 98%;
      min-height: 830px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 398px;
      height: 470px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $color-white 100%);
      z-index: z(button);
    }
  }

  .events-container {
    position: relative;
  }

  .swiper-slide {
    padding-bottom: 38px;
    background-color: #f7f7f7;
    &:hover {
      box-shadow: 0 0 59px rgba(0, 0, 0, 0.11);
      background-color: $color-white;
      transform: scale(1.01);
      transition: all 0.3s ease-out;
      @include mq('laptop') {
        transform: scale(1.03);
      }
      @include mq('desktop') {}
      .events-item__title {
        color: $color-main-159;
      }
      .events-item__btn {
        color: $color-white;
        background-color: $color-main-159;
        border: none;
        &:before,
        &:after {
          display: none;
        }
      }
    }
  }

  .swiper-scrollbar {
    bottom: -36px;
    height: 3px;
    background-color: #b9b2ae;
    @include mq('desktop') {
      bottom: -98px;
    }
    &-drag {
      top: -4px;
      height: 11px;
      background-color: #7cca55;
      cursor: pointer;
    }
  }

  .events-item {
    position: relative;
    background-color: #f7f7f7;
    transition: all 0.3s ease-out;
    text-align: left;
    @include mq('laptop') {
      width: 32.8%;
      min-width: 302px;
      margin-bottom: 37px;
      margin-right: 22px;
      padding-bottom: 32px;
    }
    @include mq('desktop') {
      margin-bottom: 36px;
      padding-bottom: 30px;
    }
    &:hover {
      box-shadow: 0 0 59px rgba(0, 0, 0, 0.11);
      background-color: $color-white;
      transform: scale(1.01);
      transition: all 0.3s ease-out;
      @include mq('laptop') {
        transform: scale(1.03);
      }
      @include mq('desktop') {}
      .events-item__title {
        color: $color-main-159;
      }
      .events-item__btn {
        color: $color-white;
        background-color: $color-main-159;
        border: none;
        &:before,
        &:after {
          display: none;
        }
      }
    }
    @include mq('tablet') {
      width: 48.4%;
      margin-bottom: 24px;
    }
    @include mq('laptop') {
      width: 32.8%;
    }
    @include mq('desktop') {}
    &-img {
      width: 100%;
      overflow: hidden;
      margin-bottom: 75px;
      height: 247px;
      @include mq('desktop') {
        height: 338px;
        margin-bottom: 150px;
      }
      img {
        width: 100%;
      }
    }

    &-data {
      position: absolute;
      border: 8px solid #b8b0ae;
      background-color: rgba(247, 247, 247, 0.78);
      @include mq('laptop') {
        top: 231px;
        left: 19px;
        width: 64px;
        height: 63px;
        text-align: center;
      }
      @include mq('desktop') {
        top: 324px;
        left: 42px;
        width: 102px;
        height: 94px;
        border-width: 10px;
      }

      &__day {
        display: block;
        color: $color-black;
        font-family: $font-family-yeseone;
        font-weight: $font-weight-main;
        letter-spacing: 0.41px;
        @include mq('laptop') {
          @include font-size(30px);
        }
        @include mq('desktop') {
          @include font-size(46px);
          letter-spacing: 0.4px;
        }
      }

      &__month {
        display: block;
        color: $color-black;
        font-family: $font-family-yeseone;
        font-size: $font-size-main;
        font-weight: $font-weight-main;
        letter-spacing: 0.17px;
        @include mq('laptop') {
          margin-top: -9px;
          @include font-size(12px);
        }
        @include mq('desktop') {
          margin-top: -19px;
          @include font-size(17px);
          letter-spacing: 0.15px;
        }
      }
    }

    &__title {
      min-height: 88px;
      margin-bottom: 27px;
      padding: 16px 15px;
      color: $color-black;
      font-family: $font-family-yeseone;
      @include font-size(20px);
      font-weight: $font-weight-main;
      line-height: 22px;
      letter-spacing: 0.1px;
      text-align: left;
      @include mq('laptop') {
        padding: 17px 22px;
      }
      @include mq('desktop') {
        min-height: 109px;
        margin-bottom: 26px;
        padding: 8px 11px 5px 43px;
        @include font-size(24px);
        letter-spacing: 0.12px;
        line-height: 27px;
      }
    }

    &__btn {
      min-width: 212px;
      width: 56%;
      height: 45px;
      margin-left: 23px;
      padding: 0;
      @include mq('laptop') {
        margin-left: 18px;
      }
      @include mq('desktop') {
        width: 52%;
        margin-left: 38px;
      }
    }
  }
}
/* end  news-article page events */