/* ==========================================================================
   CATEGORY PAGE DOORS-LIST
   ===========================================================================*/
.doors-list {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 600px) {
      justify-content: flex-start;
    }
    @include mq('tablet') {
      margin-bottom: 50px;
      padding-left: 27px;
      padding-right: 27px;
    }
    @include mq('laptop') {
      padding-left: 21px;
      padding-right: 21px;
    }
    @include mq('desktop') {
      max-width: 100%;
      margin-top: 128px;
      padding-left: 8%;
      padding-right: 8%;
    }
  }
  .door-item {
    position: relative;
    width: 44%;
    margin-bottom: 43px;
    &:after {
      content: '';
      position: absolute;
      bottom: -10%;
      right: -28%;
      display: none;
      width: 35px;
      height: 35px;
      background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2238%22%20height%3D%2237%22%20viewBox%3D%220%200%2038%2037%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M142%201231v-1h35v1z%22%2F%3E%3Cpath%20id%3D%22b%22%20d%3D%22M159%201213h1v35h-1z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23b5aaa6%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-140%20-1212)%22%2F%3E%3Cuse%20fill%3D%22%23b5aaa6%22%20xlink%3Ahref%3D%22%23b%22%20transform%3D%22translate(-140%20-1212)%22%2F%3E%3C%2Fsvg%3E');
    }
    @media screen and (max-width: 767px) {
      &:nth-of-type(even) {
        &:after {
          display: block;
        }
      }
    }
    @media screen and (min-width: 600px) and (max-width: 767px) {
      width: (100%/3);
      &:not(:nth-child(3n+1)) {
        &:after {
          display: block;
          bottom: -11%;
          right: -3%;
        }
      }
    }
    @include mq('tablet') {
      width: (100%/3);
      margin-bottom: 58px;
    }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      &:not(:nth-child(3n+1)) {
        &:after {
          display: block;
          bottom: -17%;
          right: -8%;
          width: 55px;
          height: 55px;
          background-size: cover;
        }
      }
    }
    @include mq('laptop') {
      width: (100%/4);
      margin-bottom: 118px;
    }
    @media screen and (min-width: 980px) and (max-width: 1279px) {
      &:not(:nth-child(4n+1)) {
        &:after {
          display: block;
          bottom: -22%;
          right: -13%;
          width: 75px;
          height: 75px;
          background-size: cover;
        }
      }
    }
    @include mq('desktop') {
      width: (100%/4);
      margin-bottom: 73px;
      &:not(:nth-child(4n+1)) {
        &:after {
          display: block;
          bottom: -11%;
          right: -10%;
          width: 75px;
          height: 75px;
          background-size: cover;
        }
      }
    }
    &:hover {
      position: relative;
      transition: all 0.5s ease-in;
      .door-img {
        @include mq('laptop') {
          min-height: 334px;
          height: 100%;
          background-image: url("../uploads/recommend-2.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        img {
          @include mq('laptop') {
            opacity: 0;
          }
        }
      }
      .door-desc {
        @include mq('laptop') {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 169px;
          background-color: rgba(255,255,255,0.8);
          padding-top: 30px;
        }
        @include mq('desktop') {
          padding-top: 35px;
        }
        &__title {
          @include mq('laptop') {
            padding-bottom: 25px;
          }
          @include mq('desktop') {
            width: 60%;
            padding-bottom: 29px;
          }
        }
        &__btn {
          @include mq('laptop') {
            display: block;
            width: 50%;
            min-width: 150px;
            margin: auto;
            padding-left: 0;
            padding-right: 0;
          }
          @include mq('desktop') {
            width: 66%;
          }
        }
      }
    }
    a {
    }
  }
  .door-img {
    min-height: 215px;
    margin-bottom: 18px;
    padding: 0 15px;
    max-width: 150px;
    max-height: 305px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media screen and (min-width: 600px) {
      min-height: 264px;
    }
    @include mq('tablet') {
      height: 306px;
      margin-bottom: 34px;
      padding: 0 47px;
      max-width: 100%;
    }
    @include mq('laptop') {
      height: auto;
      margin-bottom: 80px;
      max-height: 311px;
      padding: 0 39px;
    }
    @include mq('desktop') {
      min-height: 423px;
      max-height: 498px;
      padding: 0 35px;
    }
    img {
      max-height: 100%;
      width: auto;
    }
  }
  .door-desc {
    text-align: center;
    &__title {
      color: $color-black;
      font-family: $font-family-yeseone;
      @include font-size(12px);
      line-height: 14px;
      font-weight: $font-weight-main;
      @include mq('tablet') {
        font-size: $font-size-main;
      }
      @include mq('desktop') {
        width: 80%;
        margin: auto;
      }
    }
    &__btn {
      display: none;
    }
  }
}
.doors-list--category {
  .container {
    display: flex;
    flex-direction: row;
  }
  .door-img {
    @include mq('laptop') {
      min-height: 1px !important;
    }
  }
  .door-img img {
    @include mq('laptop') {
      height: 360px;
    }
  }
}
/* end category page doors-list */