/* ==========================================================================
   SEARCH-RESULT PAGE SEARCH
===========================================================================*/
.search {
  .container {
    @include mq('tablet') {
      margin-bottom: 17px;
    }
    @include mq('laptop') {
      margin-bottom: 60px;
    }
    @include mq('desktop') {
      margin-bottom: 51px;
    }
  }
  &__title {
    padding-left: 13px;
    margin-bottom: 4px;
    @include mq('tablet') {
      top: -262px;
    }
    @include mq('laptop') {
      top: -298px;
    }
    @include mq('desktop') {
      top: -600px;
      left: -76px;
    }
  }
  &-nav-list {
    top: 73px !important;
    @include mq('tablet') {
      top: 0 !important;
    }
  }
  &-desc {
    padding-left: 15px;
    padding-right: 15px;
    @include mq('tablet') {
      width: 57%;
      padding-left: 0;
      padding-right: 0;
    }
    @include mq('desktop') {
      width: 66%;
    }
    &__result {
      margin-top: 0;
      margin-bottom: 40px;
      color: $color-black;
      font-family: $font-family-ptsans;
      @include font-size(13px);
      font-weight: $font-weight-title;
      @include mq('tablet') {
        margin-bottom: 29px;
      }
      @include mq('laptop') {
        margin-bottom: 25px;
        line-height: 21px;
      }
      @include mq('desktop') {
        margin-bottom: 65px;
      }
    }
    &__count {
      color: #7cca55;
      font-family: $font-family-ptsans;
      @include font-size(13px);
      font-weight: $font-weight-title;
    }
    &__text {
      display: block;
      margin-top: 0;
      margin-bottom: 22px;
      color: #505050;
      font-family: $font-family-ptsans;
      font-size: $font-size-main;
      font-weight: $font-weight-main;
      line-height: 20px;
      &:hover {
        color: #505050;
        text-decoration: underline;
      }
      @include mq('tablet') {
        margin-bottom: 21px;
      }
      @include mq('laptop') {
        margin-bottom: 26px;
      }
      @include mq('desktop') {
        width: 86%;
        margin-left: 12px;
        margin-bottom: 24px;
      }
    }
    &__mark {
      padding: 1px;
      background-color: #7cca55;
      color: $color-white;
    }
  }
  &-form {
    position: relative;
    margin-bottom: 10px;
    @include mq('tablet') {
      margin-top: 40px;
      margin-bottom: 6px;
    }
    @include mq('laptop') {
      margin-top: 31px;
      margin-bottom: 7px;
    }
    @include mq('desktop') {
      margin-top: 17px;
    }
    &__search {
      width: 100%;
      padding-bottom: 9px;
      border: none;
      border-bottom: 1px dotted $color-brown-light;
      color: #505050;
      font-family: $font-family-ptsans;
      @include font-size(18px);
      font-weight: $font-weight-main;
      outline: none;
      &:focus {
        @include placeholderOpacity(0);
      }
      @include mq('tablet') {
        width: 72%;
        @include font-size(20px);
        padding-left: 20px;
      }
      @include mq('laptop') {
        padding-top: 5px;
        padding-left: 10px;
        @include font-size(24px);
      }
    }
    &__btn {
      @media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        min-width: 1px;
        height: 26px;
        padding: 0;
        @include font-size(0px);
        border: none;
        outline: none;
        background-color: transparent;
        background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2098.7%2098.7%22%3E%3Cpath%20d%3D%22M96.9%2088L70.8%2061.9c4.8-6.6%207.4-14.7%207.4-22.8C78.2%2017.5%2060.6%200%2039.1%200%2017.5%200%200%2017.5%200%2039.1c0%2021.5%2017.5%2039.1%2039.1%2039.1%208.3%200%2016.2-2.6%2022.8-7.4L88%2096.9c1.2%201.2%202.7%201.8%204.4%201.8s3.2-.6%204.4-1.8c2.5-2.5%202.5-6.5.1-8.9zM39.1%2065.6c-14.6%200-26.5-11.9-26.5-26.5s11.9-26.5%2026.5-26.5%2026.5%2011.9%2026.5%2026.5-11.9%2026.5-26.5%2026.5z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        @media screen and (max-width: 767px) {
          span:before,
          span:after {
            display: none;
          }
          &:hover {
            border: none;
            background-color: transparent;
          }
        }
        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
      @include mq('tablet') {
        display: inline-block;
        min-width: 0;
        padding: 0;
        width: 23%;
        margin-left: 4%;
      }
      @include mq('laptop') {
        width: 24%;
        margin-left: 3%;
      }
    }
  }
}
/* end search-result page search */