/* ==========================================================================
   MODAL MENU
   ===========================================================================*/
.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-main;
  z-index: z(modal);
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  @include mq('tablet') {
    overflow: scroll;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: transparent;
    opacity: 0;
    transform: translateX(0);
    transition: all 0.5s ease-in;
    z-index: -1;
  }
  .modal-menu-shadow {
    @media screen and (min-width: 1024px) {
      width: 50%;
      height: 100%;
      min-height: 800px;
      opacity: 0.72;
      background-color: $color-white;
      cursor: pointer;
    }
  }
  .modal-menu-wrapper {
    @media screen and (min-width: 1024px) {
      width: 50%;
      height: 100%;
      min-height: 800px;
      background-color: $color-main;
    }
  }
  .menu {
    margin-top: 68px;
    @include mq('tablet') {
      margin-top: 49px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 512px;
      margin-top: 43px;
    }
    @include mq('desktop') {
      max-width: 611px;
    }
    @media screen and (min-width: 1600px) {
      max-width: 621px;
      margin-top: 35px;
    }
  }
  .menu__title {
    display: none;
    color: $color-white;
    font-family: $font-family-yeseone;
    @include font-size(60px);
    font-weight: $font-weight-main;
    letter-spacing: -0.65px;
    cursor: pointer;
    @include mq('tablet') {
      display: block;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: -39px;
      @include font-size(137px);
      line-height: 1;
      letter-spacing: -12.0px;
    }
    @media screen and (min-width: 1600px) {
      margin-bottom: -47px;
      @include font-size(163px);
    }
  }
  .menu__title:hover {
    color: darken($color-white, 10%);
  }
  .menu__title:active {
    color: darken($color-white, 20%);
  }
  .menu-toggle {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 50%;
    height: 100%;
    z-index: z(button);
    cursor: pointer;
    @include mq('tablet') {
      display: none;
    }
  }
  .menu-item {
    position: relative;
    margin-bottom: 20px;
    @include mq('tablet') {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: -19px;
    }
  }
  .menu-item__title {
    color: $color-white;
    font-family: $font-family-yeseone;
    @include font-size(48px);
    font-weight: $font-weight-main;
    letter-spacing: -1.18px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    @include mq('tablet') {
      @include font-size(37px);
    }
    @media screen and (min-width: 1024px) {
      padding-left: 36px;
      @include font-size(61px);
    }
    @media screen and (min-width: 1600px) {
      padding-left: 47px;
      @include font-size(72px);
    }
  }
  .menu-item__title--large {
    @include mq('tablet') {
      @include font-size(60px);
    }
    @media screen and (min-width: 1024px) {
      padding-left: 0px;
      @include font-size(120px);
      line-height: 1;
      letter-spacing: -18px;
    }
    @include mq('desktop') {
      letter-spacing: -12px;
    }
    @media screen and (min-width: 1600px) {
      padding-left: 0px;
      @include font-size(143px);
    }
  }
  .menu-item__title:hover {
    color: darken($color-white, 10%);
  }
  .menu-item__title:active {
    color: darken($color-white, 20%);
  }
  .submenu {
    position: fixed;
    display: block;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #95c063;
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
    z-index: 2;
    @include mq('tablet') {
      position: relative;
      margin-top: 12px;
      background-color: $color-main;
      transform: translateX(0);
    }
    @media screen and (min-width: 1024px) {
      margin-top: -7px;
    }
    p {
      margin: 68px 0 11px;
      color: $color-white;
      font-family: $font-family-yeseone;
      @include font-size(48px);
      font-weight: $font-weight-main;
      letter-spacing: -1.18px;
      @include mq('tablet') {
        display: none;
      }
    }
    ul {
      @media screen and (min-width: 1024px) {
        padding-left: 97px;
      }
      @media screen and (min-width: 1600px) {
        padding-left: 117px;
      }
    }

    li {
      @media screen and (min-width: 1024px) {
        display: inline-block;
        margin-right: 4px;
        padding-right: 9px;
        &:not(:last-of-type) {
          border-right: 2px solid $color-white;
        }
      }
    }
    a {
      color: $color-white;
      font-family: $font-family-ptsans;
      @include font-size(16px);
      font-weight: $font-weight-title;
      line-height: 40px;
      letter-spacing: 0.31px;
      @include mq('tablet') {
        display: block;
        line-height: 24px;
      }
      @media screen and (min-width: 1024px) {
        @include font-size(17px);
        line-height: 30.24px;
        letter-spacing: 0.2px;
      }
      @media screen and (min-width: 1600px) {
        @include font-size(20px);
      }
    }
    a:hover {
      color: darken($color-white, 10%);
    }
    a:active {
      color: darken($color-white, 20%);
    }
  }
  .submenu--show {
    z-index: 4;
    transform: translateX(0);
    transition: transform 0.5s ease-in;
  }
  &__down {
    position: absolute;
    top: 13px;
    left: -11px;
    padding-left: 53px;
    color: $color-white;
    font-family: $font-family-yeseone;
    @include font-size(18px);
    font-weight: $font-weight-main;
    letter-spacing: -0.9px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    @include mq('tablet') {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 28px;
      display: block;
      width: 16px;
      height: 27px;
      background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2227%22%20viewBox%3D%220%200%2016%2027%22%3E%3Cimage%20width%3D%2216%22%20height%3D%2227%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAABAAAAAbCAYAAAB1NA%2BiAAABOUlEQVQ4T6WVsS5EQRSGv5%2FQ8QKeQO0JUMgmdDQiCh2lSDQ6jUQrComEQiHReQCNSq0QQkVFJJotNL%2Fcm70ye9jdu3NvM8nJ%2F393zpwzZ8SQn%2B0WcApMAtsaxm97BbgAxjq%2Bdm2A7TXgHBhJfvpQC2B7EzgOu%2F0A5gYCbO8Ah8H8BsxKeuoLsL0H7AfzM7AgqVjpCbB9AOwG8yMwL%2Bm1iv8B2C5iR8BWMN%2BXOUvvabwLYHsUOAE2gvkOaEn6jGX%2FBdguansGrAbRLbAo6eu%2FnikBtseBK2ApiG465navhpPtCaAQzgTRNbAs6btftxaA4kSngugSWB9kLsto28H8AkzXMVeAxjtodgaNq1Dl36gPEkh%2BJyaQ%2FLuQljP7NgZI%2FjxIUsqfSAkkfyYmkPypnEDy34UE0vUy%2FQCHCZjC7AFOGQAAAABJRU5ErkJggg%3D%3D%22%2F%3E%3C%2Fsvg%3E');
    }
  }
  &__close,
  .modal-submenu__close {
    position: absolute;
    top: 13px;
    right: 0;
    padding-right: 53px;
    color: $color-white;
    font-family: $font-family-yeseone;
    @include font-size(18px);
    font-weight: $font-weight-main;
    letter-spacing: -0.9px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 13px;
      display: block;
      width: 27px;
      height: 27px;
      background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2227%22%20height%3D%2227%22%20viewBox%3D%220%200%2027%2027%22%3E%3Cimage%20width%3D%2227%22%20height%3D%2227%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAABEUlEQVRIS82WvY0CQQxGnzMiKiCkhRMNoCuCEBGRIepANIAIKeJEA4gSIKQCEsiMjAAtMLszZldzbDqj7%2Fkb%2F6xFVcfADDgAAxHZ0tCnqj%2FACugAU1HVE9C66R%2BBXxHZ1OWpag%2F4A9o3rbPBdkC3IF4bGACZ%2FN5gZnVdiMAOPgaWgEyvL6ZcccH1pDGdK6wJYAxkjAesDjAF9Ab7BJgKCsI8QA%2BoFJYC9IIqYRHgBJh72%2BWpQEJTo8SBvhRXUl9GYRUO77ElgaLPWHSqqkNg8eLIHI5EZJkyS7%2FLWbacVZR3s9UY66PYeSiHwZylCqXeu4PfYF4Bz%2F3%2FmfqeCB2T5qnh8%2F6ps%2B4guberrHtjto34Asc1FvU9JQndAAAAAElFTkSuQmCC%22%2F%3E%3C%2Fsvg%3E');
    }
  }
  .modal-submenu__close {
    @include mq('tablet') {
      display: none;
    }
  }
  &__close {
    z-index: 2;
    @include mq('tablet') {
      top: 33px;
      right: 18px;
    }
    @media screen and (min-width: 1024px) {
      right: -4px;
    }
    @media screen and (min-width: 1600px) {
      right: 20px;
    }
  }
}
.modal-menu--show {
  display: block;
  transform: translateX(0%);
  transition: transform 0.3s ease-in;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    z-index: z(modal);
  }
}
/* end modal menu */