//
//1. FONTS
//

$font-family-main: Georgia, Times, "Times New Roman", serif;
$font-family-ptsans: 'PT Sans', 'Impact', sans-serif;
$font-family-opensans: "OpenSans", 'Verdana', sans-serif;
$font-family-ubuntu: 'Ubuntu', 'Verdana', sans-serif;

//LINE HEIGHT
$line-height-main: 1.6;
$line-height-title: 1;

//WEIGHT
$font-weight-main: 400;
$font-weight-title: 700;

//
//2. COLORS
//

$color-white: #fff;
$color-main: #0b2d3d;

$color-main-168: #a8d476; //rgb(168, 212, 118);
$color-black: #000;
$color-danger: red;
$color-success: green;
$color-warning: yellow;
$color-title: $color-black;
$color-link: $color-black;
$color-link-hover: $color-black;
$background-body: $color-white;

//
// 4. @MEDIA QUERIES
//
$mobile-widths: "(min-width: 320px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";

//
// 5. Z-INDEX ELEMENTS
//

$z-layers: (
	back: -1,
	default: 1,
	button: 3,
	label-error:4,
	overlay: 4000,
	modal: 4001
);

// z-index: z(overlay);