/* ==========================================================================
    PRODUCT-ITEM PAGE PROJECT
===========================================================================*/
.project {
  margin-top: 45px;
  text-align: center;
  @include mq('tablet') {
    margin-bottom: 42px;
    text-align: left;
  }
  @include mq('laptop') {
    margin-top: 25px;
    margin-bottom: 32px;
  }
  @include mq('desktop') {
    margin-top: 18px;
    margin-bottom: 60px;
  }
  .container {
    @include mq('tablet') {
      margin-bottom: 37px;
      padding: 0 27px;
    }
    @include mq('laptop') {
      margin-top: 25px;
      padding: 0 20px;
    }
    @include mq('desktop') {
      margin-bottom: 60px;
      padding: 0 11px;

    }
  }
  &__title {
    color: #ebebeb;
    font-family: $font-family-yeseone;
    font-size: 8vw;
    font-weight: $font-weight-main;
    line-height: 30px;
    letter-spacing: -0.53px;
    text-align: left;
    @include mq('tablet') {
      margin-bottom: 38px;
      font-size: 5vw;
    }
    @include mq('laptop') {
      @include font-size(60px);
      line-height: 71.67px;
      letter-spacing: -0.8px;
    }
    @include mq('desktop') {
      margin-bottom: 49px;
      font-size: 4.38vw;
      line-height: 71.67px;
      letter-spacing: -1.28px;
    }
    @media screen and (min-width: 1800px) {
      font-size: 85px;
    }
  }
  &-slider {
    position: relative;
    height: 840px;
    margin-top: 4px;
    margin-bottom: 25px;
    @media screen and (min-width: 480px) {
      height: 882px;
    }
    @media screen and (min-width: 620px) {
      height: 1020px;
    }
    @include mq('tablet') {
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      height: 438px;
    }
    @include mq('laptop') {
      height: 577px;
    }
    @include mq('desktop') {
      height: 738px;
    }
  }
  &-wrapper {
    position: relative;
    @include mq('tablet') {
      width: 65.3%;
    }
    @include mq('laptop') {
      width: 66%;
    }
    @include mq('desktop') {
      width: 66.1%;
    }
  }
  &-for-slider {
    height: 335px;
    overflow: hidden;
    @media screen and (min-width: 480px) {
      height: 376px;
    }
    @media screen and (min-width: 620px) {
      height: 465px;
    }
    @include mq('tablet') {
      height: 438px;
    }
    @include mq('laptop') {
      height: 577px;
    }
    @include mq('desktop') {
      height: 738px;
    }
  }
  &-img {
    position: relative;
    margin-bottom: 10px;
    height: 190px;
    overflow: hidden;
    @media screen and (min-width: 480px) {
      height: 292px;
    }
    @media screen and (min-width: 620px) {
      height: 380px;
    }
    @include mq('tablet') {
      height: 297px;
    }
    @include mq('laptop') {
      height: 393px;
    }
    @include mq('desktop') {
      height: 524px;
    }
    img {
      @include mq('desktop') {
        width: 100%;
      }
    }

    &__btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      width: 89%;
      margin: auto;
      min-width: 1px;
      padding: 0;
      @include mq('tablet') {
        right: 22px;
        left: auto;
        bottom: 16px;
        width: 34%;
      }
      @include mq('laptop') {
        right: 19px;
        left: auto;
        bottom: 21px;
        width: 30%;
      }
      @include mq('desktop') {
        right: 25px;
        left: auto;
        bottom: 29px;
        width: 26%;
      }
    }
  }
  &-desc {
    text-align: left;
    @include mq('tablet') {
      padding: 17px 21px 0 30px;
    }
    @include mq('laptop') {
      padding: 14px 0 0 51px;
    }
    @include mq('desktop') {
      padding: 40px 0 0 42px;
    }
    &__title {
      width: 95%;
      font-weight: $font-weight-title;
      color: #505050;
      font-family: $font-family-ptsans;
      font-size: $font-size-main;
      line-height: 20px;
      @include mq('tablet') {
        width: 100%;
      }
      @include mq('laptop') {
        margin-bottom: 4px;
        @include font-size(16px);
      }
    }
    p {
      margin-top: 0;
      font-weight: $font-weight-main;
      color: #505050;
      font-family: $font-family-ptsans;
      font-size: $font-size-main;
      line-height: 20px;
      @include mq('tablet') {
        line-height: 18px;
      }
      @include mq('laptop') {
        width: 91%;
        @include font-size(16px);
        line-height: 23px;
      }
    }

    &__btn {
      display: none;
      @include mq('tablet') {
        display: block;
      }
    }
  }
  &-slider-nav {
    position: relative;
    border: 6px solid rgba(35, 10, 3, 0.32);
    z-index: z(button);
    @include mq('tablet') {
      position: absolute;
      top: 1px;
      right: 32px;
      width: 25.8%;
    }
    @include mq('laptop') {
      border-width: 8px;
    }
    @include mq('desktop') {
      right: 52px;
      width: 24.4%;
      border-width: 10px;
    }
  }
  &-flat {
    height: 130px;
    overflow: hidden;
    @media screen and (min-width: 413px) {
      height: 101px;
    }
    @media screen and (min-width: 562px) {
      height: 72px;
    }
    @include mq('tablet') {
      height: 104px;
    }
    @media screen and (min-width: 876px) {
      height: 81px;
    }
    @include mq('laptop') {
      height: 117px;
    }
    @media screen and (min-width: 1052px) {
      height: 91px;
    }
    @include mq('desktop') {
      height: 157px;
    }
  }
  &-flat__title {
    width: 100%;
    padding: 22px 123px 21px 24px;
    line-height: 29px;
    color: $color-black;
    font-family: $font-family-yeseone;
    @include font-size(24px);
    font-weight: $font-weight-main;
    z-index: z(button);
    text-align: left;
    @include mq('tablet') {
      width: 172px;
      padding: 17px 0 18px 25px;
      line-height: 23px;
      @include font-size(18px);
    }
    @include mq('laptop') {
      width: 77.3%;
      padding: 17px 0 22px 31px;
      @include font-size(22px);
      line-height: 26px;
    }
    @include mq('desktop') {
      width: 75.3%;
      padding: 32px 0 41px 68px;
      @include font-size(24px);
      line-height: 28px;
    }
  }
  &-flat-img {
    max-height: 400px;
    opacity: 0.42;
    overflow: hidden;
    position: relative;
    margin-top: -60px;
    text-align: left;
    @include mq('tablet') {
      width: 34.3%;
      height: auto;
      max-height: 520px;
      padding-top: 82px;
    }
    @include mq('laptop') {
      width: 34%;
      max-height: 640px;
      padding-top: 108px;
    }
    @include mq('desktop') {
      width: 33.2%;
      max-height: 800px;
      padding-top: 144px;
    }
    img {
      width: 100%;
      height: auto;
      margin: auto;
      @include mq('tablet') {
        width: auto;
        height: 100%;
      }
    }
  }
  &-flat__btn {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 34px;
    height: 28px;
    background-color: $color-white;
    border: none;
    outline: none;
    cursor: pointer;
    background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A0%D0%B5%D0%B6%D0%B8%D0%BC_%D0%B8%D0%B7%D0%BE%D0%BB%D1%8F%D1%86%D0%B8%D0%B8%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2019.1%2031.1%22%3E%3Cstyle%3E.st0%7Bfill%3Anone%3Bstroke%3A%23adadad%3Bstroke-width%3A5%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A10%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M3.5%203.5l12%2012-12%2012%22%2F%3E%3C%2Fsvg%3E');
    background-size: 8px 13px;
    background-repeat: no-repeat;
    background-position: top right;
    @include font-size(0px);
    @include mq('tablet') {
      width: 22px;
      height: 24px;
    }
    @include mq('laptop') {
      top: -9px;
      right: -9px;
      width: 29px;
      height: 27px;
      background-size: 14px 23px;
    }
    @include mq('desktop') {
      top: -11px;
      right: -11px;
      width: 37px;
      height: 34px;
    }
  }
  &__btn {
    margin-bottom: 49px;
    @include mq('tablet') {
      margin-top: -66px;
      margin-bottom: 0;
      margin-left: 33px;
      width: 29%;
      padding: 0;
      min-width: 1px;
      font-size: $font-size-main;
    }
    @include mq('laptop') {
      width: 21.2%;
      margin-top: -124px;
      margin-left: 50px;
    }
    @include mq('desktop') {
      width: 20.6%;
      margin-top: -96px;
      margin-left: 41px;
    }
  }
  .slick-dots {
    display: none;
  }
}
/* end product-item page project */