/* ==========================================================================
    PRODUCT-ITEM PAGE RECOMMEND
===========================================================================*/
.recommend {
  margin-bottom: 50px;
  position: relative;
  @include mq('tablet') {
    display: flex;
  }
  @include mq('desktop') {
  }
  &__title {
    margin-bottom: 32px;
    padding-left: 12px;
    @include font-size(30px);
    line-height: 30px;
    letter-spacing: -0.54px;
    @include mq('tablet') {
      position: absolute;
      top: -216px;
      left: -102px;
      width: 487px;
      height: 64px;
      transform: rotate(-90deg) translateX(-350px) translateY(-118px);
      @include font-size(40px);
      word-wrap: break-word;
      line-height: 38px;
      letter-spacing: -1.42px;
    }
    @include mq('laptop') {
      top: -210px;
      left: -106px;
      @include font-size(60px);
      line-height: 47px;
      letter-spacing: -2.42px;
    }
    @include mq('desktop') {
      top: -125px;
      left: -128px;
      width: 603px;
      height: auto;
      @include font-size(91px);
      line-height: 68px;
    }
  }

  .container {
    @include mq('tablet') {
      width: 89.5%;
      margin-left: auto;
      margin-right: 0;
    }
    @include mq('desktop') {
      max-width: 100%;
      width: 90%;
    }
  }

  &-container {
    position: relative;
    min-height: 230px;
    // min-height: 370px;
    overflow: hidden;
    @media screen and (min-width: 480px)  {
      min-height: 310px;
    }
    @media screen and (min-width: 620px) {
      min-height: 370px;
    }
    @include mq('tablet') {
      min-height: 430px;
    }
    @include mq('laptop') {
      min-height: 484px;
    }
    @include mq('desktop') {
      min-height: 686px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      z-index: z(button);
      @include mq('tablet') {
        width: 165px;
      }
    }
    &:before {
      left: -10px;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 69%, rgba(255, 255, 255, 0.7) 100%);
      @include mq('tablet') {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, $color-white 54%, $color-white 100%);
      }
    }
    &:after {
      right: -10px;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 31%, rgba(255, 255, 255, 0) 100%);
      @include mq('tablet') {
        display: none;
      }
    }
  }

  &-item {
    padding: 10px 15px;
    box-sizing: border-box;
    @include mq('tablet') {
      padding: 0;
    }
    &>a {
      display: block;
    }
    &:hover {
      position: relative;
      transition: all 0.5s ease-in;
      .recommend-img {
        @include mq('laptop') {
          background-image: url("../uploads/recommend-2.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 100%;
        }
        img {
          @include mq('laptop') {
            opacity: 0;
          }
        }
      }
      .recommend-desc {
        @include mq('laptop') {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 169px;
          background-color: rgba(255,255,255,0.8);
          padding-top: 30px;
        }
        @include mq('desktop') {
          padding-top: 35px;
        }
        &__title {
          padding-bottom: 25px;
          @include mq('desktop') {
            width: 60%;
            padding-bottom: 29px;
          }
        }
        &__btn {
          @include mq('laptop') {
            display: block;
            width: 50%;
            min-width: 150px;
            margin: auto;
            padding-left: 0;
            padding-right: 0;
          }
          @include mq('desktop') {
            width: 66%;
          }
        }
      }
    }
  }

  &-img {
    width: 100%;
    height: auto;
    margin: auto;
    @media screen and (max-width: 767px) {
      max-width: 141px;
      max-height: 306px;
    }
    @include mq('tablet') {
      height: 306px;
      margin-bottom: 44px;
      padding: 10px 54px;
    }
    @include mq('laptop') {
      height: 100%;
      margin-bottom: 31px;
      padding: 10px 19px;
      text-align: center;
    }
    @include mq('desktop') {
      margin-bottom: 4px;
    }
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      @include mq('tablet') {
        max-width: 100%;
        width: auto;
        // height: 100%;
        height: 306px;
      }
      @include mq('laptop') {
        height: 336px;
      }
      @include mq('desktop') {
        height: 525px;
      }
    }
  }

  &-desc {
    text-align: center;
    &__title {
      height: 29px;
      color: $color-black;
      font-family: $font-family-yeseone;
      @include font-size(12px);

      font-weight: $font-weight-main;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: -1px;
      line-height: 14px;
      @include mq('tablet') {
        width: 83%;
        height: auto;
        margin: auto;
        font-size: $font-size-main;
        line-height: 15px;
        letter-spacing: 0.1px;
      }
      @include mq('laptop') {
        width: 100%;
        letter-spacing: -0.5px;
      }
      @include mq('desktop') {
        width: 70%;
      }
    }

    &__btn {
      display: none;
      min-width: 10px;
      width: 50px;
    }
  }

  .swiper-scrollbar {
    bottom: 4px;
    height: 3px;
    background-color: #b9b2ae;
    @include mq('tablet') {
      bottom: 7px;
    }
    &-drag {
      top: -4px;
      height: 11px;
      background-color: #7cca55;
      cursor: pointer;
    }
  }
}
/* end product-item page recommend  */