/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"]{
	//position
	position: relative;
	z-index: z(button);
	//box mmodel
	display: inline-block;
	vertical-align: middle;
	padding: btn(padding);
	min-width: btn(min-width);
	max-width: btn(max-width);
	height: btn(height);
	//font
	font-family: btn(font-family);
	@include font-size(btn(font-size));
	line-height: btn(line-height);
	font-weight: btn(font-weight);
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	//other
	overflow: hidden;
	border-radius: btn(border-radius);
	cursor: pointer;

	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: inherit;

	&.btn_full{
		width: 100%;
		min-width: 0;
	}
}
/* disabled styles */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .25;
	filter: alpha(opacity=25);
	-webkit-box-shadow: none;
	box-shadow: none;
}
button[type="button"]{
	cursor: pointer;
}

/* PRIMARY green */
.btn_primary{
	color: $btn-primary-color;
	background-color: $btn-primary-bg;
	border: none;
	outline: none;
	&:hover{
		color: $btn-primary-colorHover;
		background-color: $btn-primary-bgHover;
	}
	&:active{
		color: $btn-primary-colorActive;
		background-color: $btn-primary-bgActive;
	}
}

/* SECONDARY white */
.btn_secondary{
	color: $btn-secondary-color;
	background-color: $btn-secondary-bg;
	border: none;
  overflow: visible;
  outline: none;

	&:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 91%;
		height: 1px;
		background-color: #b5aaa6;
		z-index: 10;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 0px;
		display: block;
		width: 91%;
		height: 1px;
		background-color: #b5aaa6;
		z-index: 10;
	}
	span {
		&:before {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0px;
			display: block;
			width: 1px;
			height: 66.6%;
			background-color: #b5aaa6;
			z-index: 10;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 1px;
			height: 66.6%;
			background-color: #b5aaa6;
			z-index: 10;
		}
	}

	&:hover{
		color: $color-white;
		background-color: $btn-primary-bg;
		span {
			&:before,
			&:after {
				display: none;
			}
		}
		&:before,
		&:after {
			display: none;
		}
	}
	&:active{
		color: $color-white;
		background-color: darken($btn-primary-bg, 10%);
		span {
			&:before,
			&:after {
				display: none;
			}
		}
		&:before,
		&:after {
			display: none;
		}
	}
}


/* button menu */
.btn-menu,
.btn-menu[type="button"]{
	position: relative;
	cursor: pointer;
	z-index: 3;
	display: block;
	padding: 0;
	//width: 22px;
	//height: 16px;
	width: 50px;
	height: 50px;
	color: #fff;
	text-align: center;
	border:0;
	background: transparent;
	-webkit-appearance: none;
	&.btn-menu_rigth{
		position: absolute;
		top: 35px;
		right: 10px;
	}
}
.icon-menu{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 19px;
	height: 1px;
	background-color: currentColor;
	transform: translate(-50%);
	&:after{
		content: '';
		position: absolute;
		top: -5px;
		left: 0;
		width: 19px;
		height: 1px;
		background-color: currentColor;
	}
	&:before{
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		width: 19px;
		height: 1px;
		background-color: currentColor;
	}
}

.fancybox-skin .icon-close{
	position: relative;
	display:inline-block;
	height:100%;
	width:100%;
	&:after{
		content: '';
		display:inline-block;
		position: absolute;
		top: 5px;
		left:0;
		right: 0;
		margin: 0 auto;
		width: 2px;
		height:100%;
		background-color: #adadad;
		transform: rotate(45deg);
	}
	&:before{
		content: '';
		display:inline-block;
		position: absolute;
		top: 5px;
		left:0;
		right: 0;
		margin: 0 auto;
		width: 2px;
		height:100%;
		background-color: #adadad;
		transform: rotate(-45deg);
	}
}

.fancybox-outer {
	margin-top: 20px;
	margin-bottom: 0px !important;
}

.fancybox-close {
	// position: relative;
	top: -5px !important;
	right: 5px !important;
	display:inline-block;
	// height:100%;
	// width:100%;
	&:after{
		content: '';
		display:inline-block;
		position: absolute;
		top: 5px;
		left:0;
		right: 0;
		margin: 0 auto;
		width: 2px;
		height:100%;
		background-color: #adadad;
		transform: rotate(45deg);
	}
	&:before{
		content: '';
		display:inline-block;
		position: absolute;
		top: 5px;
		left:0;
		right: 0;
		margin: 0 auto;
		width: 2px;
		height:100%;
		background-color: #adadad;
		transform: rotate(-45deg);
	}
}

/* end buttons*/