/*----------------------------------------
	FORM
----------------------------------------*/
.form{
	position: relative;
	display: block;
	width: 100%;
	&.form_horizontal{
		//flexbox
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.form-group{
	position: relative;
	&:not(:last-child){
		margin-bottom: $group-margin-bottom;
	}
}

/*
STYLE FOR INPUT
*/
.form-input{
	width: input(width);
	height: input(height);
	padding: input(padding);
	font-family: input(font-family);
	@include font-size(input(font-size));
	color: input(color);
	font-weight: input(font-weight);
	font-style: input(font-style);
	background-color: input(background);
	border:input(border);
	// border-radius:  input(border-radius);
	white-space: nowrap;
	text-overflow: ellipsis;
	@include box-sizing(border-box);
	@include placeholder {
		color: input(placeholder);
		transition: input(transition);
	}
	&:focus{
		// outline: none;
		@include placeholder {
			color: transparent;
			transition: input(transition);
		}
		+ label.error{
			opacity: 0;
		}
	}
	&.error{
		// border-color: $color-main-180;
		@include placeholder {
			color: transparent;
			transition: input(transition);
		}
	}
}
/*
STYLE FOR TEXTAREA
*/
textarea{
	resize: none;
}
.form-textarea{
	width: textarea(width);
	height: textarea(height);
	padding: textarea(padding);
	border: textarea(border);
	// border-radius: textarea(border-radius);
	background-color: textarea(background);
	@include box-sizing(border-box);
	@include placeholder {
		color: textarea(placeholder);
		transition: textarea(transition);
	}
	&:focus{
		// outline: none;
		@include placeholder {
			color: transparent;
			transition: textarea(transition);
		}
		+ label.error{
			opacity: 0;
		}
	}
	&.error{
		@include placeholder {
			color: transparent;
			transition: textarea(transition);
		}
	}
}

/* label */
label{
	// &.form-label{
	// 	position: relative;
	// 	display: block;
	// 	margin-bottom: 5px;
	// 	text-align: left;
	// }



	// &.error{
	// 	position: absolute;
	// 	top: 100%;
	// 	left: 0;
	// 	right: 0;
	// 	// z-index: z(label-eror);
	// 	display:inline-block;
	// 	padding-left: 30px;
	// 	padding-right: 30px;
	// 	color: $color-danger;
	// 	font-style: italic;
	// 	text-align: left;
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// 	white-space: nowrap;
	// 	pointer-events: none;
	// 	background: transparent;
	// }
}

/* FORMS STYLES */
.form_send{
	//flexbox
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.form-group{
		&:first-child{
			width: 60%;
			padding-right: 10px;
		}
		&:last-child{
			width: 40%;
			padding-left: 10px;
		}
	}
}

/* end forms */