/* ==========================================================================
    CONTACTS PAGE MAP
===========================================================================*/
.map {
  margin-bottom: 60px;
  @include mq('desktop') {
    margin-bottom: 61px;
  }
  &__title {
    margin-bottom: 22px;
    padding-left: 14px;
    color: $color-black;
    font-family: $font-family-yeseone;
    @include font-size(20px);
    font-weight: $font-weight-main;
    letter-spacing: 0.1px;
    @include mq('tablet') {
      margin-bottom: 20px;
      padding-left: 27px;
      @include font-size(24px);
      letter-spacing: 0.12px;
    }
    @include mq('laptop') {
      padding-left: 20px;
    }
    @include mq('desktop') {
      width: 1280px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 42px;
      padding: 0 10px;
    }
  }
  &-wrapper {
    height: 521px;
    @include mq('tablet') {
      height: 511px;
    }
    @include mq('laptop') {
      height: 511px;
    }
    @include mq('desktop') {
      height: 649px;
    }
  }
}
/* end  contacts page map  */