.icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-amateur {
  font-size:(37/10)*1rem;
  width:(42/37)*1em;
}
.icon-everyone {
  font-size:(44/10)*1rem;
  width:(41/44)*1em;
}
.icon-profesional {
  font-size:(33/10)*1rem;
  width:(45/33)*1em;
}