.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-book {
	font-size:(51/10)*1rem;
	width:(64/51)*1em;
}
.icon-download {
	font-size:(325.2/10)*1rem;
	width:(393.6/325.2)*1em;
}
.icon-fb {
	font-size:(409.6/10)*1rem;
	width:(409.6/409.6)*1em;
}
.icon-google {
	font-size:(409.6/10)*1rem;
	width:(409.6/409.6)*1em;
}
.icon-hat {
	font-size:(21/10)*1rem;
	width:(35/21)*1em;
}
.icon-inst {
	font-size:(327.7/10)*1rem;
	width:(327.7/327.7)*1em;
}
.icon-pdf {
	font-size:(24/10)*1rem;
	width:(28/24)*1em;
}
.icon-phone {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-service-1 {
	font-size:(37/10)*1rem;
	width:(41/37)*1em;
}
.icon-service-2 {
	font-size:(37/10)*1rem;
	width:(37/37)*1em;
}
.icon-service-3 {
	font-size:(40/10)*1rem;
	width:(32/40)*1em;
}
.icon-service-4 {
	font-size:(44/10)*1rem;
	width:(31/44)*1em;
}
.icon-share-fb {
	font-size:(60/10)*1rem;
	width:(26.8/60)*1em;
}
.icon-share-google {
	font-size:(36/10)*1rem;
	width:(60/36)*1em;
}
.icon-share-inst {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-share-vk {
	font-size:(37/10)*1rem;
	width:(60/37)*1em;
}
.icon-vk {
	font-size:(409.6/10)*1rem;
	width:(409.6/409.6)*1em;
}
